{% extends "settings/layout.html" %}

{% block content %}
  {% raw %}
    <script type="text/x-handlebars" id="index">
      <h2>System</h2>
      {{view Ember.Select content=systems
        optionValuePath="content.name"
        optionLabelPath="content.name"
        selection=selectedSystem}}

      {{#if selectedSystem}}
        {{render "issuers" selectedSystem.issuers}}
      {{/if}}
    </script>

    <script type="text/x-handlebars" id="issuers">
      <h2>Issuer</h2>
      <p>{{input type="text" value=filterString}}</p>
      <p>
        {{#if areAllSelected}}
          <button {{action 'deselectAll'}}>Deselect All</button>
        {{else}}
          <button {{action 'selectAll'}}>Select All</button>
        {{/if}}
      </p>

      <ul>
      {{#each}}
        <li>
          <label>
            {{input type="checkbox" checked=isSelected}}
            <span>{{name}}</span>
          </label>
        </li>
      {{/each}}
      </ul>

      {{partial 'pagination-buttons'}}

      {{#if selectedPrograms}}
        {{render "programs" selectedPrograms}}
      {{/if}}
    </script>

    <script type="text/x-handlebars" id="programs">
      <h2>Programs</h2>
      <p>{{input type="text" value=filterString}}</p>

      <ul>
        {{#each}}
          <li>
          <label>
            {{input type="checkbox" checked=isSelected}}
            <span>{{name}}</span>
          </label>
          </li>
        {{/each}}
      </ul>

      {{partial 'pagination-buttons'}}
    </script>

    <script type="text/x-handlebars" id="_pagination-buttons">
      Page {{page}} of {{maxPage}}
      <button {{action 'goToFirstPage'}}>&laquo;</button>
      <button {{action 'goToPreviousPage'}}>&lt;</button>
      <button {{action 'goToNextPage'}}>&gt;</button>
      <button {{action 'goToLastPage'}}>&raquo;</button>
    </script>
  {% endraw %}

  <div class="container clearfix">
  </div>
{% endblock %}

{% block scripts -%}
  {{ super() }}
  <script src="{{ static('/js/handlebars.js') }}"></script>
  <script src="{{ static('/js/ember.js') }}"></script>
  <script src="{{ static('/js/context.js') }}"></script>
{%- endblock %}
