{% extends "settings/layout.html" %}

{% block content %}
  {% raw %}
    <script type="text/x-handlebars" id="index">
      <div class="container clearfix">
        <div class="column left">
          <i class="fa fa-arrow-circle-o-right"></i>
          <p class="admin-title">Systems</p>
          <div class="form-dropdown">
            <span class="arrow-down"></span>
            {{view Ember.Select content=systems class="js-system-select"
              optionValuePath="content.slug"
              optionLabelPath="content.name"
              selection=selectedSystem
            }}
          </div>
          <br>
          <div>
            {{# if selectedSystem.issuers }}
              <label>
                {{input type="checkbox" name="useIssuer" class="js-use-issuer" checked=useIssuer}}
                <span>Select Issuer</span>
              </label>
            {{/if}}
          </div>
        </div>
        <div {{bind-attr class="showIssuers::hidden"}}>
          {{render "issuers" selectedSystem}}
        </div>
      </div>
      <div class="container clearfix submit-button-wrapper">
        <a {{action 'submit' }} class="btn submit-btn" type="submit">Save</a>
      </div>
    </script>

    <script type="text/x-handlebars" id="issuers">
      <div class="column left">
        <i class="fa fa-arrow-circle-o-right"></i>
        <p class="admin-title">Issuer</p>

        <div class="form-dropdown">
          <span class="arrow-down"></span>
          {{view Ember.Select content=issuers class="js-issuer-select"
            optionValuePath="content.slug"
            optionLabelPath="content.name"
            selection=selectedIssuer
          }}
        </div>
        <br>
        <div>
          {{# if selectedIssuer.programs }}
            <label>
              {{input type="checkbox" name="useProgram" class="js-use-program" checked=useProgram}}
              <span>Select Program</span>
            </label>
          {{/if}}  
        </div>
      </div>
      <div {{bind-attr class="showPrograms::hidden"}}>
        {{render "programs" selectedIssuer}}
      </div>
    </script>

    <script type="text/x-handlebars" id="programs">
      <div class="column left">
        <i class="fa fa-arrow-circle-o-right"></i>
        <p class="admin-title">Program</p>
        <div class="form-dropdown">
          <span class="arrow-down"></span>
          {{view Ember.Select content=programs class="js-program-select"
            optionValuePath="content.slug"
            optionLabelPath="content.name"
            selection=selectedProgram
          }}
        </div>
      </div>
    </script>
  {% endraw %}

  <div class="js-ember-container" data-url="{{dataUrl}}" data-csrf="{{ csrfToken }}">
    <div class="container clearfix loading-header">
      <h1>Loading</h1>
    </div>
  </div>

{% endblock %}

{% block scripts -%}
  {{ super() }}
  <script src="{{ static('/js/handlebars.js') }}"></script>
  <script src="{{ static('/js/ember.min.js') }}"></script>
  <script src="{{ static('/js/context.js') }}"></script>
{%- endblock %}
