{% extends "settings/layout.html" %}
{% block content %}
  <div class="container clearfix">
    <ul class="tabs">
      <li class="tab js-tab selected" data-section="profile">Profile</li>
      <li class="tab js-tab" data-section="notifications">Notifications</li>
      <li class="tab js-tab" data-section="privacy">Privacy</li>
      <li class="tab js-tab" data-section="permissions">Admin</li>
    </ul>

    <form class="settings-form settings settings-profile js-settings js-settings-profile left" name="input" action="" method="post">
      <div class="form-field-wrapper">
        <label class="badge-label left" for="name">Name</label>
        <input class="badge-field" type="text" name="name" value="">
      </div>

      <div class="form-field-wrapper">
        <label class="badge-label left" for="email">Email Address</label>
        <input class="badge-field" type="text" name="email" value="">
      </div>

      <div class="form-field-wrapper">
        <label class="badge-label left" for="sms">SMS</label>
        <input class="badge-field" type="text" name="sms" value="">
      </div>

      <div class="form-field-wrapper">
        <label class="badge-label left" for="language">Language</label>
        <input class="badge-field" type="text" name="language" value="">
      </div>

      <a class="btn submit-btn" type="submit">Save</a>
    </form>

    <form class="settings-form settings settings-notifications js-settings js-settings-notifications left hidden" name="input" action="" method="post">
      <div class="form-field-wrapper">
        <p class="badge-label">How would you like to get account notifications?</p>

        <label for="email" class="block">
          <input type="checkbox" name="email" id="email" value="By Email">
          <span>By Email</span>
        </label>

        <label for="push" class="block">
          <input type="checkbox" name="push-notifications" id="push" value="Push Notifications">
          <span>Push Notifications</span>
        </label>

        <label for="sms" class="block">
          <input type="checkbox" name="sms" id="sms" value="SMS">
          <span>SMS</span>
        </label>
      </div>

      <div class="form-field-wrapper">
        <p class="badge-label">Would you like emails synthesized into daily digests?</p>
        <label for="yes" class="block">
          <input type="checkbox" name="yes" id="yes" value="Yes">
          <span>Yes</span>
        </label>

        <label for="no" class="block">
          <input type="checkbox" name="no" id="no" value="No">
          <span>No</span>
        </label>
      </div>

      <a class="btn submit-btn" type="submit">Save</a>

    </form>

    <form class="settings-form settings settings-privacy js-settings js-settings-privacy left hidden" name="input" action="" method="post">
      <div class="form-field-wrapper">
        <p class="badge-label">Who can contact me?</p>
        <label for="anyone" class="block">
          <input type="checkbox" name="anyone" id="anyone" value="Anyone">
          <span>Anyone</span>
        </label>

        <label for="willy-wonka" class="block">
          <input type="checkbox" name="no" id="willy-wonka" value="Willy Wonka">
          <span>Willy Wonka</span>
        </label>

        <label for="the-lilipop-guild" class="block">
          <input type="checkbox" name="no" id="the-lilipop-guild" value="The Lilipop Guild">
          <span>The Lilipop Guild</span>
        </label>
      </div>

      <div class="form-field-wrapper">
        <p class="badge-label">Who can look me up?</p>
        <label for="anyone" class="block">
          <input type="checkbox" name="anyone" id="anyone" value="Anyone">
          <span>Anyone</span>
        </label>

        <label for="willy-wonka" class="block">
          <input type="checkbox" name="no" id="willy-wonka" value="Willy Wonka">
          <span>Willy Wonka</span>
        </label>

        <label for="the-lilipop-guild" class="block">
          <input type="checkbox" name="no" id="the-lilipop-guild" value="The Lilipop Guild">
          <span>The Lilipop Guild</span>
        </label>
      </div>

      <div class="form-field-wrapper">
        <p class="badge-label">Who can access and use my data?</p>
        <label for="anyone" class="block">
          <input type="checkbox" name="anyone" id="anyone" value="Anyone">
          <span>Anyone</span>
        </label>

        <label for="willy-wonka" class="block">
          <input type="checkbox" name="no" id="willy-wonka" value="Willy Wonka">
          <span>Willy Wonka</span>
        </label>

        <label for="the-lilipop-guild" class="block">
          <input type="checkbox" name="no" id="the-lilipop-guild" value="The Lilipop Guild">
          <span>The Lilipop Guild</span>
        </label>
      </div>

      <a class="btn submit-btn" type="submit">Save</a>
    </form>

    <section class="settings-form js-settings js-settings-permissions left hidden clearfix">
      <ul class="crumbs">
        <li class="crumb"><a href="#1">Admin</a></li>
        <li class="crumb"><a href="#2" class="active-crumb"> > Mozilla</a></li>
        <li class="crumb"><a href="#2" class="active-crumb"> > Mozilla Webmaker</a></li>
      </ul>

      <div class="column left">
        <i class="fa fa-arrow-circle-o-right"></i>
        <p class="admin-title">System</p>
        <p class="system-name">Mozilla</p>
        <ul class="admin-options">
          <li><i class="fa fa-list-ul"></i><a href="">Issuer Profile</a></li>
          <li><i class="fa fa-user"></i><a href="" class="access-disabled">System Users</a></li>
        </ul>
      </div>

      <div class="column left">
        <i class="fa fa-arrow-circle-o-right"></i>
        <p class="admin-title">Issuer</p>
        <div class="form-dropdown">
          <span class="arrow-down"></span>
          <select name="">
            <option value="">Mozilla Webmaker</option>
          </select>
        </div>
        <ul class="admin-options">
          <li><i class="fa fa-list-ul"></i><a href="">Issuer Profile</a></li>
          <li><i class="fa fa-user"></i><a href="" class="access-disabled">Issuer Users</a></li>
          <li><i class="fa fa-users"></i><a href="">Participants</a></li>
        </ul>
      </div>

      <div class="column left">
        <i class="fa fa-arrow-circle-o-right"></i>
        <p class="admin-title">Program</p>
        <div class="form-dropdown">
          <span class="arrow-down"></span>
          <select name="">
            <option value="">Web Literacy</option>
          </select>
        </div>
        <ul class="admin-options">
          <li><i class="fa fa-list-ul"></i><a href="">Program Profile</a></li>
          <li><i class="fa fa-user"></i><a href="">Program Users</a></li>
        </ul>
      </div>

      <div class="cb"></div>
      <!-- WHEN YOU CLICK ON ISSUER PROFILE -->
      <div class="column left">
        <p class="admin-title">Issuer</p>
        <div class="form-dropdown">
          <span class="arrow-down"></span>
          <select name="">
            <option value="">Mozilla Webmaker</option>
          </select>
        </div>
        <ul class="admin-options">
          <li class="admin-options-selected"><i class="fa fa-list-ul"></i><a href="">Issuer Profile</a></li>
          <li><i class="fa fa-user"></i><a href="" class="access-disabled">Issuer Users</a></li>
          <li><i class="fa fa-users"></i><a href="">Participants</a></li>
        </ul>
      </div>

      <div class="left column-wide">
        <p class="admin-title">Issuer Profile</p>
        <form class="" name="input" action="" method="post">
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="name">Name</label>
            <input class="badge-field" type="text" name="name" placeholder="Mozilla Webmaker"></input>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="url">URL</label>
            <input class="badge-field" type="text" name="url" placeholder="http://..."></input>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="public email">Public Email</label>
            <input class="badge-field" type="text" name="public email"></input>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="coutnry">Coutnry</label>
            <div class="form-dropdown">
              <span class="arrow-down"></span>
              <select name="country">
                <option value="">Country</option>
              </select>
            </div>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="address">Street Addresss</label>
            <input class="badge-field" type="text" name="address"></input>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="city">City or Town</label>
            <input class="badge-field" type="text" name="city"></input>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="state">State</label>
            <div class="form-dropdown">
              <span class="arrow-down"></span>
              <select name="state">
                <option value="">State</option>
              </select>
            </div>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="zipcode">Zipcode</label>
            <input class="badge-field" type="text" name="zipcode"></input>
          </div>

          <a href="" class="btn">Save</a>
          <a href="" class="btn">Cancel</a>
        </form>
      </div>

      <div class="cb"></div>
      <!-- WHEN YOU CLICK ON PROGRAM PROFILE -->
      <div class="column left">
        <p class="admin-title">Program</p>
        <div class="form-dropdown">
          <span class="arrow-down"></span>
          <select name="">
            <option value="">Web Literacy</option>
          </select>
        </div>
        <ul class="admin-options">
          <li class="admin-options-selected"><i class="fa fa-list-ul"></i><a href="">Program Profile</a></li>
          <li><i class="fa fa-user"></i><a href="">Program Users</a></li>
        </ul>
      </div>

      <div class="left column-wide">
        <p class="admin-title">Program Profile</p>
        <form class="" name="input" action="" method="post">
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="name">Name</label>
            <input class="badge-field" type="text" name="name" placeholder="Mozilla Webmaker"></input>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="url">URL</label>
            <input class="badge-field" type="text" name="url" placeholder="http://..."></input>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="public email">Public Email</label>
            <input class="badge-field" type="text" name="public email"></input>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="coutnry">Coutnry</label>
            <div class="form-dropdown">
              <span class="arrow-down"></span>
              <select name="country">
                <option value="">Country</option>
              </select>
            </div>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="address">Street Addresss</label>
            <input class="badge-field" type="text" name="address"></input>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="city">City or Town</label>
            <input class="badge-field" type="text" name="city"></input>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="state">State</label>
            <div class="form-dropdown">
              <span class="arrow-down"></span>
              <select name="state">
                <option value="">State</option>
              </select>
            </div>
          </div>
          <div class="form-field-wrapper clearfix">
            <label class="badge-label left" for="zipcode">Zipcode</label>
            <input class="badge-field" type="text" name="zipcode"></input>
          </div>

          <a href="" class="btn">Save</a>
          <a href="" class="btn">Cancel</a>
        </form>
      </div>
    </section>

  </div>
{% endblock %}
