// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
@import "compass";
@import "compass/layout/sticky-footer";

@include sticky-footer(130px, "#main", "#main_footer", "#footer");

body {
	font-family: 'Open Sans', sans-serif;
	color:#373737;
}
#header {
	background: #e6e7e8;
	border-top: solid 2px #FFF;
	border-bottom: solid 6px #5fc9e5;
	position: relative;
	margin-bottom: 1em;
}
#footer {
	position: relative;
	border-top: solid 6px #5fc9e5;
	padding: 20px 0;
	background-color:#000;
}
#footer::before, #footer::after {
	top: -6px;
}
#header::before, #header::after,
#footer::before, #footer::after {
	content: "";
	height: 6px;
	width: 33.33%;
	position: absolute;
	left: 33.33%;
	background: #b1cf37;
}
#header::after,
#footer::after {
	left: 66.66%;
	background: #f48123;
}
#header::before, #header::after,
#footer::before, #footer::after {
	bottom: -6px;
}
#header .constrained,
#footer .constrained {
	max-width: 950px;
	padding: 0 25px;
	margin: 0 auto;
	overflow: hidden;
}
#header h1 {
	display: block;
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin: 0;
	padding: 25px 0;
}
#header a, #footer a {
	text-decoration: none;
	color: #073A5A;
}
#home, #footer .footnote a {
	display: block;
	width: 300px;
	height: 80px;
	background: url("../img/obb-logo.png");
	text-indent: -100%;
	overflow: hidden;
	margin-left: -14px;
}
#reveal p, #reveal a.button {
	margin-bottom:0px;
}
#reveal a.button {
	border-radius:10px;
}
#tabzilla {
	margin-top: -25px;
}
#footer .footnote a {
	background-position: 0 -80px;
}
#footer a {
	color: inherit;
}
form {
	margin:0 0 0 0;
}
img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
h1 {
	margin-left:0.625em;
}
p#slogan {
	font-size:1.3em;
	margin-bottom:1em;
}
p#slogan span {
	font-weight:bold;
}
#logo {
	margin-top:-20px;
}
.obb-logo {
	display: block;
	width: 300px;
	height: 80px;
	background: url("../img/obb-logo.png");
	text-indent: -100%;
	overflow: hidden;
	margin-left: -14px;
	cursor:pointer;
}
.icons {
	margin-bottom:1.5em;
	display:none;
}
.icons > .indent {
	background-color:#EBEDE4;
	padding:1em 0;
}
.round, .notify input {
	font-family: 'Open Sans', sans-serif;
	margin-bottom:1.25em;
}
.notify {
	background-color:rgb(48,127,145);
	margin:0 auto;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}
.notify input[type="email"]
{
	box-shadow:none;
	background-color:#fff;
	border:1px solid #c0c0c0;
	border-radius:10px;
	color:rgb(51,51,51);
	padding:0.5em 0.5em;
	font-size:.9em;
	height:2.7em;
}

//larger screns
@media only screen and (min-width: 768px) {
	.notify input[type="email"] {
		font-size:1.2em;
		height:2.3em;
	}
	p#slogan {
		font-size:1.45em;
	}
	.icons {
		padding-left:118px;
		padding-right:118px;
	}
	#tabzilla {
		margin-right:80px;
	}
	.icons > .indent {
		border-radius:10px;
	}
}

//mobile
@media only screen and (min-width: 520px) {
	.icons {
		display:block;
	}
	.desc {
		display:none;
	}
}

.notify input[type="submit"] {
	border-radius:10px;
	width:100%;
}
.notify input[type="email"]:focus,
.notify input[type="email"]:hover {
	background-color:rgb(230,230,230);
}
.notify input::-webkit-input-placeholder { /* WebKit browsers */
	color:rgb(78,78,78);
	font-style:oblique;
}
.notify input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:rgb(78,78,78);
	font-style:oblique;
}
.notify input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:rgb(78,78,78);
	font-style:oblique;
}
.notify input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:rgb(78,78,78);
	font-style:oblique;
}

.notify input:hover::-webkit-input-placeholder { /* WebKit browsers */
	color:rgb(25,25,25);
}
.notify input:hover:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:rgb(25,25,25);
}
.notify input:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:rgb(25,25,25);
}
.notify input:hover:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:rgb(25,25,25);
}

.notify input:focus::-webkit-input-placeholder { /* WebKit browsers */
	color:rgb(51,51,51);
}
.notify input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:rgb(51,51,51);
}
.notify input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:rgb(51,51,51);
}
.notify input:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:rgb(51,51,51);
}