// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
@import "compass";
@import "compass/layout/sticky-footer";

@include sticky-footer(54px, "#main", "#main_footer", "#footer");

body {
	font-family: 'Open Sans', sans-serif;
}
form {
	margin:0 0 0 0;
}
img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
h1 {
	margin-left:0.625em;
}

.obb-logo {
	display: block;
	width: 300px;
	height: 80px;
	background: url("../img/obb-logo.png");
	text-indent: -100%;
	overflow: hidden;
	margin-left: -14px;
	cursor:pointer;
}
.round, .notify input {
	font-family: 'Varela Round', sans-serif;
	font-weight:bold;
}
.notifywrap {
	position:fixed;
	bottom:-100px;
	width:100%;
	z-index:10;
}
.notify {
	max-width:600px;
	background-color:rgb(48,127,145);
	margin:0 auto;
	font-size:2em;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}
.notify input {
	margin-bottom:0px;
	margin-top:.2em;
	margin-bottom:.2em;
}
.notify input[type="email"],
.notify input[type="submit"]
 {
	border:none;
	box-shadow:none;
	background-color:rgb(48,127,145);
	border-radius:12px;
}
.notify input[type="email"]:focus,
.notify input[type="email"]:hover {
	background-color:rgb(230,230,230);
}
.notify input[type="email"] {
	color:rgb(51,51,51);
}
.notify input[type="submit"] {
	color:rgb(253,221,92);
	border:2px solid rgb(253,221,92);
	margin-bottom:0px;
	margin-top:16px;
}
.notify input::-webkit-input-placeholder { /* WebKit browsers */
	color:rgb(253,221,92);
}
.notify input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:rgb(253,221,92);
}
.notify input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:rgb(253,221,92);
}
.notify input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:rgb(253,221,92);
}

.notify input:hover::-webkit-input-placeholder { /* WebKit browsers */
	color:rgb(76,76,76);
}
.notify input:hover:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:rgb(76,76,76);
}
.notify input:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:rgb(76,76,76);
}
.notify input:hover:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:rgb(76,76,76);
}

.notify input:focus::-webkit-input-placeholder { /* WebKit browsers */
	color:rgb(51,51,51);
}
.notify input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:rgb(51,51,51);
}
.notify input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:rgb(51,51,51);
}
.notify input:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:rgb(51,51,51);
}