{% extends "directory/layout.html" %}
{% block content %}
  <div class="container clearfix">
      {% if notification == 'published' %}
        <div class="notification"><p>Your badge has been published.</p></div>
      {% elif notification == 'created' %}
        <div class="notification"><p>Your badge has been created.</p></div>
      {% elif notification == 'archived' %}
        <div class="notification"><p>Your badge has been archived.</p></div>
      {% elif notification == 'saved' %}
        <div class="notification"><p>Your badge has been saved.</p></div>
      {% endif %}
      {% if category == 'template' %}
      <section class="info">
        <h1 class="info-heading">Templates</h1>
        <p class="info-text">Use templates to create great new badges quickly. Create and edit your own templates and tailor draft badges to your programs and vision.</p>
      </section>
      {% endif %}

      {% if category == 'draft' %}
      <section class="info">
        <h1 class="info-heading">Drafts</h1>
        <p class="info-text">Work on draft badges. Define badge criteria and visuals, then publish when you're ready.</p>
      </section>
      {% endif %}

      {% if category == 'published' %}
      <section class="info">
        <h1 class="info-heading">Published</h1>
        <p class="info-text">Manage and issue your published badges.</p>
      </section>
      {% endif %}

      {% if category == 'archived' %}
      <section class="info">
        <h1 class="info-heading">Archived</h1>
        <p class="info-text">Manage inactive badges no longer being issued.</p>
      </section>
      {% endif %}

      <nav class="nav-header">
        <ul class="navigation-dropdown right">
          {% if category == 'template' %}
            <span class="small-copy js-import-template">Import a template
              <i class="fa fa-clipboard js-import-template" title="Import a template"></i>
            </span>
          {% endif %}
          <li class="menu-item sort-menu">
            Sort badges <i class="fa fa-caret-down"></i>
            <ul class="menu-hover sort-menu-hover">
              <a href="{{ url('directory') }}?category={{ category }}&sort=name"><li>Name</li></a>
              <!-- <a href="{{ url('directory') }}?category={{ category }}&sort=applications"><li>Applications</li></a>
              <a href="{{ url('directory') }}?category={{ category }}&sort=awarded"><li>Awarded</li></a> -->
              <a href="{{ url('directory') }}?category={{ category }}&sort=dateactive"><li>Date Active</li></a>
              <a href="{{ url('directory') }}?category={{ category }}&sort=datecreated"><li>Date Created</li></a>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="import-template-modal js-import-template-modal">
        <span class="close-btn js-close">x</span>
        <h1 class="info-heading">Import a Template</h1>
        <p class="info-text">This will create a new copy in your directory.<a href="{{ url('help') }}" class="fa fa-question-circle"></a></p>

        <form method="post" action="{{ url('share.subscribe') }}">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <input class="badge-field left" placeholder="http://badgekit.org/share/9bee00edcb06b8b6" name="subscription">
          <button class="btn blue-btn">Import</button>
        </form>
      </div>

      <section class="directory-container js-masonry-container cb">
        {% if (category == 'template' or category == 'draft') and canCreateDraft %}
          <section class="item badge-new left">
            <a href="{{ url('directory.addBadge') }}?category={{ category }}">
              <div class="new-badge-placeholder">+</div>
            </a>
            {% if category == 'template' %}
              <h2>Create a Template</h2>
            {% else %}
              <h2>Create a New Draft</h2>
            {% endif %}
            <a href="{{ url('directory.addBadge') }}?category={{ category }}" class="btn blank-btn blank-btn-homepage">Start</a>
          </section>
        {% endif %}

        {% for badge in badges %}
          <section class="item badge-template left">
            <div class="badgethumb js-badgethumb" data-image="url('{{ badge.imageUrl | default(url('badge.image', { badgeId: badge.id })) }}')"></div>
            <h2>{{ badge.name }}</h2>
            <p class="small-copy">Status: {{ badge.status | default('active') | capitalize }}</p>
            <a href="{{ url('badge.edit', { badgeId: badge.id }) }}?category={{ category }}" class="edit-link block"><i class="fa fa-pencil"></i>Edit</a>
            <a href="{{ url('badge', { badgeId: badge.id }) }}?category={{ category }}" class="btn view-btn">View</a>
            {% if category == 'template' %}
              <a href="{{ url('directory.useTemplate') }}?templateId={{ badge.id }}" class="btn use-btn">Use</a>
            {% endif %}
            {% if category == 'published' %}
              <a href="" class="btn action-btn js-action-btn">Action<span class="arrow-down"></span></a>
              <ul class="action-dropdown js-action-dropdown">
                <!-- <a href=""><li>Review Applicants</li></a> -->
                <a href="{{ url('badge.issueByEmail', {badgeId: badge.id }) }}"><li>Issue by Email</li></a>
                <!-- <a href="{{ url('badge.issueByClaimCode', {badgeId: badge.id }) }}"><li>Issue by Claim Code</li></a> -->
                <a href="" class="js-copy-btn" data-url="{{ url('badge.copy', {badgeId: badge.id }) }}" data-csrf="{{ csrfToken }}"><li>Copy as new</li></a>
                <a href="" class="js-archive-btn" data-url="{{ url('badge.archive', {badgeId: badge.id }) }}" data-csrf="{{ csrfToken }}"><li>Archive</li></a>
              </ul>
            {% endif %}
          </section>
        {% endfor %}
      </section>

    {% if pages > 1 %}
      <div class="pagenav cb">
        {% if page > 1 %}
          <a href="?category={{ category }}&page={{ page - 1 }}&sort={{ sort }}">Previous Page</a>
        {% endif %}
        {% if page < pages %}
          <a href="?category={{ category }}&page={{ page + 1 }}&sort={{ sort }}">Next Page</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
