{% extends "directory/layout.html" %}
{% block content %}
  <div class="container">
    <div class="badges-container cb">
      {% for badge in badges %}
        <section class="badge-template left">
          <img class="badgethumb" src="{{ badge.image | default(url('badge.image', { badgeId: badge.id })) }}"/>
          <h2>{{ badge.name }}</h2>
          <p>Status: {{ badge.status | default('active') | capitalize }}</p>
          <a href="{{ url('badge', { badgeId: badge.id }) }}" class="gray-btn view-btn">View</a>
          {% if category == 'template' %} <a href="{{ url('directory.useTemplate') }}?templateId={{ badge.id }}" class="gray-btn use-btn">Use</a> {% endif %}
          <a href="{{ url('badge.edit', { badgeId: badge.id }) }}" class="gray-btn edit-btn ">Edit</a>
          {% if category == 'published' %} <span href="" class="gray-btn action-btn">Action<span class="arrow-down"></span>
            <ul class="action-dropdown">
              <li><a href="">SHARE</a></li>
              <hr>
              <li><a href="">REVIEW APPLICATIONS</a></li>
              <li><a href="{{ url('badge.issueByEmail', {badgeId: badge.id }) }}">ISSUE BY EMAIL</a></li>
              <hr>
              <li><a href="{{ url('badge.issueByClaimCode', {badgeId: badge.id }) }}">ISSUE BY CLAIM CODE</a></li>
              <li><a href="">VIEW CLAIM CODES</a></li>
              <hr>
              <li><a href="">COPY AS NEW</a></li>
              <li><a href="">ARCHIVE</a></li>
            </ul>
        </span> {% endif %}
        </section>
      {% endfor %}

      {% if category == 'template' or category == 'draft' %}
        <h3 class="category-heading">2014 Template Pack<span class="text-line"></span></h3>
        <section class="badge-new">
          <div class="new-placeholder"><span>+</span></div>
          <h2>Add a New {{ category | capitalize }}</h2>
          <a href="{{ url('directory.addBadge') }}?category={{ category }}" class="gray-btn blank-import-btn">Blank</a>
          <a href="" class="gray-btn blank-import-btn">Import</a>
        </section>
      {% endif %}
    </div>

    {% if pages > 1 %}
      <div class="pagenav cb">
        {% if page > 1 %}
          <a href="?category={{ category }}&page={{ page - 1 }}&sort={{ sort }}">Previous Page</a>
        {% endif %}
        {% if page < pages %}
          <a href="?category={{ category }}&page={{ page + 1 }}&sort={{ sort }}">Next Page</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
