<ul class="options thumbs">
  <li class="option">
    <input type="radio" class="hidden" name="graphic" id="studio_graphic_none" value="" checked>
    <label for="studio_graphic_none">
      <i class="fa fa-ban fa-3x"></i><br>
      None
    </label>
  </li>
  {% for graphic in graphics %}
    <li class="option">
      <input type="radio"
        class="hidden"
        name="graphic"
        id="studio_graphic_{{ loop.index }}"
        value="{{ graphic.value }}"
        data-value="{{ graphic.src }}">
      <label for="studio_graphic_{{ loop.index }}">
        <img src="{{ graphic.src}}" alt="{{ graphic.label}}" title="{{ graphic.label }}">
      </label>
    </li>
  {% endfor %}
</ul>
