.badgedetails {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.badgeimage {
  height: 250px;
  float: right;
}

.badgeform dt {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.badgeform textarea {
  height: 133px;
  width: 420px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 4px 6px;
}

.badgeform input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 420px;
  padding: 2px 4px;
}

input.submitbutton {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
}

h1 {
  text-align: center;
}