<div class="column left">
  <p class="admin-title">Issuer</p>
  <div class="form-dropdown">
    <span class="arrow-down"></span>
    <select name="" disabled="true">
      <option value="{{ issuer.slug }}">{{ issuer.name }}</option>
    </select>
  </div>
  <ul class="admin-options">
    <li class="admin-options-selected"><i class="fa fa-user"></i>Issuer Users</li>
  </ul>
</div>

<div class="left column-wide">
  <p class="admin-title">Issuer Users</p>
  <p><a href="">christensenep@gmail.com</a>
  <p><a href="">christensenep@gmail.com</a>
</div>