{% include "settings/program-left.html" %}

<div class="left column-wide">
  <p class="admin-title">Program Profile</p>
  <form class="" name="input" action="" method="post">
    <div class="form-field-wrapper clearfix">
      <label class="badge-label left" for="name">Name</label>
      <input class="badge-field" type="text" name="name" value="{{ program.name }}"></input>
    </div>
    <div class="form-field-wrapper clearfix">
      <label class="badge-label left" for="url">URL</label>
      <input class="badge-field" type="text" name="url" value="{{ program.url }}"></input>
    </div>
    <div class="form-field-wrapper clearfix">
      <label class="badge-label left" for="public email">Public Email</label>
      <input class="badge-field" type="text" name="public email" value="{{ program.email }}"></input>
    </div>
    <div class="form-field-wrapper clearfix">
      <label class="badge-label left" for="country">Country</label>
      <div class="form-dropdown">
        <span class="arrow-down"></span>
        <select name="country">
          <option value="">Country</option>
        </select>
      </div>
    </div>
    <div class="form-field-wrapper clearfix">
      <label class="badge-label left" for="address">Street Addresss</label>
      <input class="badge-field" type="text" name="address"></input>
    </div>
    <div class="form-field-wrapper clearfix">
      <label class="badge-label left" for="city">City or Town</label>
      <input class="badge-field" type="text" name="city"></input>
    </div>
    <div class="form-field-wrapper clearfix">
      <label class="badge-label left" for="state">State</label>
      <div class="form-dropdown">
        <span class="arrow-down"></span>
        <select name="state">
          <option value="">State</option>
        </select>
      </div>
    </div>
    <div class="form-field-wrapper clearfix">
      <label class="badge-label left" for="zipcode">Zipcode</label>
      <input class="badge-field" type="text" name="zipcode"></input>
    </div>

    <p>Profile editing coming soon</p>
    <a href="" class="btn js-program-cancel-btn">Cancel</a>
  </form>
</div>