<div class="column left js-program-column">
  <i class="fa fa-arrow-circle-o-right"></i>
  <p class="admin-title">Program</p>
  <div class="form-dropdown">
    <span class="arrow-down"></span>
    <select name="" class="js-program-select">
      <option value="">Select Program</option>
      {% for program in programs %}
        <option value="{{ program.slug }}" data-admin="{{ program.canAdmin }}">{{ program.name }}</option>
      {% endfor %}
    </select>
  </div>
  <ul class="admin-options js-program-admin-options hidden">
    <li><i class="fa fa-list-ul"></i><a href="" class="js-program-profile-link">Program Profile</a></li>
    <li><i class="fa fa-user"></i><a href="" class="js-program-users-link">Program Users</a></li>
  </ul>
</div>