<div class="column left">
  <p class="admin-title">Program</p>
  <div class="form-dropdown">
    <span class="arrow-down"></span>
    <select name="" disabled="true">
      <option value="{{ program.slug }}">{{ program.name }}</option>
    </select>
  </div>
  <ul class="admin-options">
    <li {% if profileActive %} class="admin-options-selected" {% endif %}><i class="fa fa-list-ul"></i><a href="" class="js-program-profile-btn">Program Profile</a></li>
    <li {% if usersActive %} class="admin-options-selected" {% endif %}><i class="fa fa-list-ul"></i><a href="" class="js-program-users-btn">Program Users</a></li>
  </ul>
  <a href="" class="btn js-back-btn">Back</a>
</div>