{% include "settings/system-left.html" %}

<div class="left column-wide">
  <p class="admin-title">System Users</p>
  {% for user in users %}
    <p><a href="" class="js-edit-system-user-btn">{{ user.account.email }}</a></p>
  {% endfor %}

  <div class="notification js-email-error hidden"><p>Please enter a valid email address</p></div>

  <input class="badge-field left js-email-input" type="text" name="name" value="" placeholder="Enter an email address"></input>
  <a href="" class="btn add-btn js-add-system-user-btn">Add User</a>
</div>