@import "base";
@import "buttons";

.badge-image {
  height: 250px;
}

.badge-details {
  width: $two-wide;
  .new-placeholder {
    float: none;
    margin: 0 0 20px 0;
  }
  .use-btn {
    margin-left: 0;
  }
}

.badge-info {
  width: $four-wide;
}

.form-field-wrapper {
  margin-bottom: 20px;
}

.badge-form {
  width: $four-wide;
  margin: 0 auto;
  .badge-label {
    font-weight: bold;
  }
  .badge-field {
    margin-top: 10px;
    width: $three-wide;
    display: block;
  }
  .short-badge-field {
    margin-top: 10px;
    margin-right: 2px;
    display: inline;
    width: $one-wide;
  }
  .radio-badge-field {
    margin-top: 10px;
    margin-right: 5px;
    display: inline;
  }
  .submit-btn {
    margin-left: 0;
  }
  .hidden {
    display: none;
  }
}
