@import "base";

.visual-studio-tabs {
  width: $five-wide;
  margin: 30px auto 0 auto;
  padding: 10px 10px 5px 0;
  .studio-tab {
    background-color: $dark-beige;
    display: inline;
    padding: 5px 15px;
    margin: 20px 10px 20px 0;
    a { color: $brown; }
  }
  .selected { background-color: $white; }
}

.nav-inputs {
  width: $five-wide;
  margin: 30px auto 0 auto;
  position: relative;
  .badge-field {
    width: $two-wide;
    font-size: 20px;
    margin-right: 10px;
  }
  .fa-pencil {
    position: absolute;
    color: $gray;
    top: 6px;
    left: 210px;
    padding: 3px;
    cursor: pointer;
  }
}
.review-publish-btn {
  padding-left: 23px;
}

.fa-rocket,
.fa-sign-out {
    margin-left: 10px;
    font-size: 15px;
  }

.publish-save {
  text-align: right;
}

.save-box {
  position: relative;
  margin-top: -5px;
  margin-left: 15px;
  .save {
    background-color: $light-beige;
    border: none;
    padding-top: 5px;
    &:hover {
      border: none;
      cursor: default;
      -webkit-appearance: none;
    }
  }
  .fa-spin {
    position: absolute;
    left: 300px;
    top: 10px;
    &.hidden {
      display: none;
    }
  }
}

.badge-image {
  height: 250px;
}

.preview-make-your-badge,
.make-your-badge {
  width: $three-wide;
  padding: 50px 0 0 0;
}

.make-your-badge {
  .badge-label { padding-bottom: 20px; }
}

.icon-label,
.color-label { padding-bottom: 20px; }
.studio-thumb {
  width: 90px;
  border: 1px solid $light-gray;
  margin-right: 50px;
}

.undo-redo {
  padding-top: 20px;
  .fa-undo,
  .fa-repeat {
    font-size: 15px;
    margin-right: 5px;
  }
}
.canvas-wrapper {
  padding: 10px 30px 0 30px;
  border: 1px solid $gray;
  border-radius: 5px;
  margin: 20px 45px;
  canvas { margin-left: 5px; }
}

.download-btn {
  margin-right: 30px;
  .fa-download {
    margin-right: 5px;
    font-size: 15px;
  }
}

.visual-shape {
  width: $three-wide;
}

.badge-canvas {
  width: 90px;
  height: 90px;
  display: inline;
}

.color-canvas {
  display: none;
}

.badge-preview-info {
  padding: 20px;
}

.badge-details {
  width: $two-wide;
  .new-placeholder {
    float: none;
    margin: 0 0 20px 0;
  }
  p { margin: 0; }
}

.badge-info {
  width: $four-wide;
  background-color: $white;
  padding: 30px;
  margin-top: 20px;
}

.form-field-wrapper {
  margin-bottom: 20px;
}

.submit-button-wrapper {
  text-align: center;
}

.badge-form {
  width: $five-wide;
  margin: 0 auto 30px auto;
  background-color: $white;
  padding: 10px 30px 30px 30px;
  .form-heading {
    font-size: 18px;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 15px;
    margin-bottom: 40px;
    .form-heading-span {
      color: $light-blue;
      font-weight: bold;
      margin-left: 10px;
    }
  }
  .badge-label {
    font-weight: bold;
    width: $two-wide;
    margin-right: 6%;
  }
  .badge-field {
    width: $three-wide;
  }
  .short-description { height: 80px; }
  .with-button-field { width: 40.6%; }
  .fa-plus { margin-left: 5px; }
  .short-badge-field {
    margin-top: 10px;
    margin-right: 2px;
    display: inline;
    width: $one-wide;
  }
  .radio-badge-field {
    margin-right: 5px;
    display: inline;
  }
  .submit-btn {
    margin-left: 0;
  }
  .hidden {
    display: none;
  }
}

.design-container { border-right: 1px solid $light-gray; }
.design-upload-container {
  width: $three-wide;
  text-align: center;
  height: 125px;
  .fa-cloud-upload,
  .fa-magic {
    font-size: 30px;
    color: $light-blue;
    margin-bottom: 30px;
  }
  .design-upload-heading {
    display: inline;
    color: $gray;
    font-size: 20px;
    font-weight: bold;
  }
  .design-upload-subhead {
    margin: 0;
    color: $light-blue;
    display: block;
    margin-top: -30px;
    font-size: 15px;
  }
  .upload-image {
    margin: 0 auto;
    border: none;
    margin-top: 15px;
    &:hover {
      border: none;
      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
      box-shadow: 0 0 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .badge-form {
    width: 100%;
    padding: 20px;
    .badge-label,
    .badge-field { width: 100%; }
  }
}

@media screen and (max-width: 800px) {
  .badge-form {
    .tags-field {
      width: 31.5%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .badge-form {
    .tags-field {
      width: 36.5%;
    }
  }
}
