@import "base";

.nav-inputs {
  margin: 30px auto 0 auto;
  position: relative;
  .badge-field {
    width: $two-wide;
    font-size: 20px;
    margin-right: 10px;
  }
  .fa-pencil {
    position: absolute;
    color: $gray;
    top: 6px;
    left: 210px;
    padding: 3px;
    cursor: pointer;
  }
}
.review-publish-btn {
  padding-left: 23px;
}



.publish-save {
  text-align: right;
  .fa-rocket,
  .fa-sign-out {
    margin-left: 10px;
    font-size: 15px;
  }
}

.save-box, .designer-save-box {
  position: relative;
  margin-top: -5px;
  margin-left: 15px;
  .save {
    background-color: $white;
    border: none;
    padding-top: 5px;
    &:hover {
      border: none;
      cursor: default;
      -webkit-appearance: none;
    }
  }
  .fa-spin {
    position: absolute;
    left: 300px;
    top: 10px;
    &.hidden {
      display: none;
    }
  }
}

.designer-save-box {
  margin-right: 50px;
  display: inline-block;
}

.badge-image {
  height: 250px;
}

.preview-image {
  height: 180px;
}

.preview-make-your-badge {
  width: 25%;
  display: inline-block;
  float:right;
  .form-field-wrapper {
    text-align: center;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 40px;
    margin-right: 30px;
  }
  .badge-label.studio-label {
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .badge-field.studio-field {
    margin: 0 auto;
    background-color: $light-gray;
    border: $white;
    padding: 5px;
  }
  .studio-input-image-container {
    width: 83%;
    margin: 0 auto;
    .studio-input-image {
      width: 90px;
      margin: 0 35px;
    }
  }
}

.make-badge-full-page {
  width: 100%;
  position: relative;
  .fa-spin {
    position: absolute;
    left: 55px;
    top: 5px;
  }
  .preview-make-your-badge {
    text-align: right;
    padding: 0 0 20px 0;
    .canvas-wrapper {
      margin: 5px 0;
    }
    .btn {
      margin: 5px 0;
      min-width: 157px;
    }
  }
}

.visual-designer-tabs {
  padding: 10px 0;
  background-color: $dark-gray;
  color: $white;
  border: 1px solid $light-gray;
  font-family: "Open Sans Light";
  .designer-tab {
    padding: 10px 5.7%;
    background-color: $dark-gray;
    display: inline;
    border-right: 1px solid $light-gray;
    &:last-child { border-right: none; }
    &:hover {
      cursor: pointer;
      background-color: $hover-gray;
    }
  }
}

.edit-badge-design-container {
  min-height: 145px;
  border: 1px solid $light-gray;
  width: 100%;
  position: relative;
  .arrow-down {
    z-index: 1;
    position: absolute;
    bottom: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid $light-gray;
  }
  .studio-input-image {
    padding: 20px;
    &:hover { background-color: $light-gray; }
    .studio-thumb { margin: 0 auto; }
    .radio-badge-field { margin: 5px auto 0 auto; }
  }
  .studio-input-icon-image {
    margin: 10px 0px;
  }
  .studio-input-color-image {
    margin: 30px 0px;
  }
  .designer-field {
    margin-top:50px;
    margin-left: 10px;
  }
}

.shape-container.arrow-down { left: 7%; }
.background-container.arrow-down { left: 25%; }
.text-container.arrow-down { left: 44%; }
.icon-container.arrow-down { left: 75.5%; }
.color-container.arrow-down { left: 91%; }

.preview-make-your-badge {
  text-align: center;
  .submit-btn.studio-submit {
    margin: 20px;
    margin-left: 35px;
  }
}

.tooltip-container {
  display: none;
  z-index: 1;
  background-color: $light-gray;
  padding: 10px;
  margin-top: -10px;
  position: absolute;
  width: 200px;
  @include drop-shadow;
  .small-copy { margin-bottom: 0; }
}

.fa-question-circle {
  cursor: pointer;
  &:hover { color: $light-blue; }
}

.studio-thumb {
  width: 90px;
  border: 1px solid $light-gray;
  margin-right: 50px;
}

.studio-thumb.studio-icons {
  width: 60px;
  border: none;
  margin-right: 0;
}

.studio-thumb.color-pie { border: none; }

.undo-redo {
  padding-top: 20px;
  .fa-undo,
  .fa-repeat {
    font-size: 15px;
    margin-right: 5px;
  }
}
.canvas-wrapper {
  border: 1px solid $gray;
  margin: 5px 135px;
  canvas { margin: 5px;}
}

.preview-wrapper {
  display: block;
}

.preview {
  display: block;
  text-align: center;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px 0 0px;
  border: 1px solid $gray;
}

.big-canvas-wrapper {
  width: 75%;
  display:inline-block;
  .badge-canvas-big { 
    margin-left: auto; 
    margin-right:auto; 
    display: block 
  }
}

.download-btn {
  margin-right: 30px;
  .fa-download {
    margin-right: 5px;
    font-size: 15px;
  }
}

.visual-shape {
  width: $three-wide;
}

.badge-canvas {
  width: 90px;
  height: 90px;
  display: inline;
}

.color-canvas {
  display: none;
}

.badge-preview-info {
  padding-top: 80px;
}

.badge-details {
  width: $six-wide;
  .new-placeholder {
    float: none;
    margin: 0 0 20px 0;
  }
  p { margin: 0; }
}

.badge-info,
.published-actions,
.templates-actions,
.archived-actions,
.draft-actions   {
  border: 1px solid $light-gray;
  width: $six-wide;
  padding: 20px;
  .badge-title {
    font-weight: bold;
    .badge-description {
      margin-left: 10%;
      font-weight: normal;
    }
  }
  .badge-description { color: $gray; }
}

.published-actions,
.templates-actions,
.archived-actions,
.draft-actions {
  display: none;
  .badge-title { width: $one-wide; }
  .badge-field { width: $two-wide; }
  .badge-field-textarea {
    height: 60px;
    width: $three-wide;
  }
  .unique-field {
    width: 30px;
    margin: 0 20px 0 0;
  }
  .fa-group {
    color: $white;
    background-color: $dark-gray;
    padding: 5px;
    margin: 20px;
    cursor: pointer;
    &:hover { background-color: $hover-gray; }
  }
  .fa-envelope,
  .fa-clipboard,
  .fa-download,
  .fa-share-square,
  .fa-cloud-upload,
  .fa-pencil,
  .fa-rocket { color: $white; margin-right: 5px; }
  .border-top { width: $six-wide; }
  .admin-btn-container { margin: 10px 0; }
}

.form-field-wrapper { margin-bottom: 20px; }

.submit-button-wrapper { text-align: center; }

.form-heading {
  font-size: 18px;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 15px;
  margin-bottom: 40px;
  .form-heading-span {
    color: $light-blue;
    font-weight: bold;
  }
}

.badge-form {
  width: $six-wide;
  margin: 0 auto 30px auto;
  background-color: $white;
  padding: 10px 30px 30px 30px;
  border: 1px solid $light-gray;
  .or-seperator {
    height: 200px;
    margin: 20px 40px 50px 40px;
    .or { top: 65px; }
  }
  .short-textarea { height: 90px; }
  .short-description { height: 80px; }
  .with-button-field { width: 40.6%; }
  .fa-plus { margin-left: 5px; }
  .short-badge-field {
    margin-top: 10px;
    margin-right: 2px;
    display: inline;
    width: $one-wide;
  }
  .radio-badge-field {
    margin-right: 5px;
    display: inline;
  }
  .hidden { display: none; }
}

.criteria {
  margin-bottom: 40px;
  .add-btn { margin: 20px 0; }
}

.note-field-block { display: none; }

.design-upload-container {
  width: 45%;
  text-align: center;
  height: 100px;
  margin: 50px 0;
  .fa-cloud-upload,
  .fa-magic {
    font-size: 30px;
    color: $light-blue;
    margin-bottom: 30px;
  }
  .design-upload-heading {
    display: inline;
    color: $gray;
    font-size: 20px;
    font-weight: bold;
  }
  .design-upload-subhead {
    margin: 0;
    color: $light-blue;
    display: block;
    margin-top: -30px;
    font-size: 15px;
  }
  .upload-image {
    margin: 0 auto;
    border: none;
    margin-top: 15px;
    &:hover {
      border: none;
      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
      box-shadow: 0 0 0;
    }
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  .badge-form {
    width: 100%;
    padding: 20px;
    .badge-label,
    .badge-field { width: 100%; }
  }
}

@media screen and (max-width: 800px) {
  .badge-form {
    .tags-field {
      width: 31.5%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .badge-form {
    .tags-field {
      width: 36.5%;
    }
  }
}
