@import "base";

.nav-categories {
  background-color: $brown;
  padding: 20px 20px 20px 50px;
  margin-left: 0;
  margin-bottom: 20px;
  position: relative;
  .hexagon { margin-right: 20px; }
  .categories-dropdown {
    display: none;
    @include dropdown-boxshadow;
    z-index: 1;
    top: 60px;
    left: 43px;
    padding: 20px;
    background-color: $white;
    position:absolute;
    &:hover { cursor: pointer; }
    i {
      display: block;
      text-align: center;
    }
    .categories-item {
      padding: 10px;
      color: $brown;
      a {
        color: $brown;
        &:hover { color: $light-blue; }
      }
    }
    .arrow-up {
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid $white;
      position: absolute;
      top: -12px;
    }
  }
  .nav-inputs {
    position: relative;
    i {
      position: absolute;
      background-color: $light-gray;
      color: $dark-green;
      top: 3px;
      left: 155px;
      padding: 3px;
    }
  }
}

.badge-image {
  height: 250px;
}

.badge-details {
  width: $two-wide;
  .new-placeholder {
    float: none;
    margin: 0 0 20px 0;
  }
  .use-btn {
    margin-left: 0;
  }
}

.badge-info {
  width: $four-wide;
}

.form-field-wrapper {
  margin-bottom: 20px;
}

.badge-form {
  width: $five-wide;
  margin: 0 auto;
  background-color: $white;
  padding: 20px;
  .badge-label {
    font-weight: bold;
  }
  .badge-field {
    margin-top: 10px;
    width: $three-wide;
    display: block;
  }
  .short-badge-field {
    margin-top: 10px;
    margin-right: 2px;
    display: inline;
    width: $one-wide;
  }
  .radio-badge-field {
    margin-top: 10px;
    margin-right: 5px;
    display: inline;
  }
  .submit-btn {
    margin-left: 0;
  }
  .hidden {
    display: none;
  }
}

.categories {
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  a {
      font-weight: bold;
      text-decoration: none;
      color: inherit;
      padding: 0 1em;
  }
  .highlighted {
    background-color: #00AAAA;
  }
}
