@import "base";
@import "buttons";

.badge-image {
  height: 250px;
}

.badge-details {
  width: $two-wide;
  .new-placeholder {
    float: none;
    margin: 0 0 20px 0;
  }
  .use-btn {
    margin-left: 0;
  }
}

.badge-info {
  width: $four-wide;
}

.form-field-wrapper {
  margin-bottom: 20px;
}

.badge-form {
  width: $four-wide;
  margin: 0 auto;
  .badge-label {
    font-weight: bold;
  }
  .badge-field {
    margin-top: 10px;
    width: $three-wide;
  }
  .submit-btn {
    margin-left: 0;
  }
}
