/* ===[ Fonts ]============================================================== */

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Light-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
}

/* ===[ Base styles ]======================================================== */
.container {
  width: 90%; /*width: 1200px;*/
  max-width: 1200px;
  margin: auto;
}

$one-wide: 13.6%;
$two-wide: 30.9%;
$three-wide: 48.2%;
$four-wide: 65.5%;
$five-wide: 82.7%;
$six-wide: 100%;
$quarter-wide: 22.2%;
$three-quarters-wide:74.1%;

/*** STANDARD COLORS ***/
$black: #000;
$white: #fff;
$red: #FF0000;

/*** BRAND COLORS  ***/
$gray: #8892a1;
$gray5: #f9f9fa;
$gray10: #f3f4f5;
$gray30: #dbdee3;
$gray50: #c3c8d0;
$dark-gray: #41444a;
$warm-gray: #9a9998;
$warm-gray30: #e2e1df;

body {
  font-family: "Open Sans", sans-serif;
}

h1 { font-size: 24px; }

li {
  list-style: none;
}

textarea {
  height: 150px;
}

textarea,
input {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  display: block;
  padding: 2px 4px;
  &:hover {
    -webkit-box-shadow: 0 0 2px;
    -moz-box-shadow: 0 0 2px;
    box-shadow: 0 0 2px;
  }
}

.column {margin-bottom:20px;}

.left { float: left; }
.right { float: right; }
.middle {
  margin-left:3.7%;
  float:left;
}

/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }

.cb { clear: both }
