/* ===[ Fonts ]============================================================== */

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Light-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),
       url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
}

/* ===[ Base styles ]======================================================== */

$one-wide: 13.6%;
$two-wide: 30.9%;
$three-wide: 48.2%;
$four-wide: 65.5%;
$five-wide: 82.7%;
$six-wide: 100%;
$quarter-wide: 22.2%;
$three-quarters-wide:74.1%;

body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style: none;
}
