@import "base";

.gray-btn {
  text: {
    transform: uppercase;
    decoration: none;
  }
  font-weight: bold;
  margin-bottom:7px;
  margin-left: 7px;
  color: $white;
  height:29px;
  line-height:31px;
  padding: 0 15px;
  font-size:12px;
  cursor: pointer;
  letter-spacing: .1em;
  &:hover {
    opacity: 0.7;
  }
}

.edit-btn {
  display: inline-block;
  width: 80px;
  background-position: 55px 6px;
  background-repeat: no-repeat;
  background-image: url("../images/edit-btn.png");
  height: 28px;
  line-height: 30px;
}

.submit-btn {
  margin-left: 0;
  background-color: green;
}

.action-btn {
  line-height: 30px;
  background-color: black;
  .arrow-down {
    border-top: 6px solid $white;
    margin-left: 10px;
    position: relative;
    top: 10px;
  }
}

.view-btn {
  background-color: blue;
}

.edit-btn {
  background-color: red;
}

.import-btn {
  background-color: pink;
}

.blank-btn {
  background-color: yellow;
  color: black;
}

.use-btn {
  background-color: green;
}

.cancel-btn {
  background-color: gray;
}

.use-btn,
.view-btn,
.blank-btn,
.import-btn,
.action-btn,
.submit-btn,
.cancel-btn {
  display: inline-block;
}
