@import "base";

.btn {
  text: {
    transform: uppercase;
    decoration: none;
  }
  font-weight: bold;
  font-size: 12px;
  letter-spacing: .1em;
  margin: 7px 0;
  color: $white;
  height: 32px;
  line-height: 31px;
  padding: 0 25px;
  cursor: pointer;
  background-color: $light-beige;
  display: inline-block;
  &:hover {
    color: $brown;
  }
}

.light-btn {
  color: $brown;
}

.add-btn {
  background-color: $light-blue;
  margin: 0 10px;
}

.edit-btn {
  display: inline-block;
  width: 80px;
  background-position: 55px 6px;
  background-repeat: no-repeat;
  background-image: url("../images/edit-btn.png");
  height: 28px;
  line-height: 30px;
}

.action-btn {
  line-height: 30px;
  background-color: black;
  .arrow-down {
    border-top: 6px solid $white;
    margin-left: 10px;
    position: relative;
    top: 10px;
  }
}

.view-btn {
  background-color: $light-green;
  border-bottom: 5px solid $dark-green;
}

.edit-btn {
  background-color: red;
}

.import-btn {
  background-color: pink;
}

.blank-btn {
  background-color: $light-blue;
  border-bottom: 5px solid $dark-blue;
}

.submit-btn {
  background-color: $light-green;
  border-bottom: 5px solid $dark-green;
}

.use-btn {
  background-color: $gray;
  border-bottom: 5px solid $dark-gray;
}

.use-btn,
.view-btn,
.blank-btn,
.import-btn,
.action-btn,
.submit-btn,
.cancel-btn {
  display: inline-block;
}
