@import "base";

.btn {
  font-family: "Open Sans Light";
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: .1em;
  color: $white;
  height: 32px;
  line-height: 31px;
  padding: 0 25px;
  cursor: pointer;
  background-color: $dark-gray;
  display: inline-block;
  text-align: center;
  &:hover {
    background-color: $hover-gray;
    color: $white;
  }
}

.blue-btn {
  background-color: $light-blue;
  &:hover { background-color: $hover-blue; }
}

.clear-btn {
  background-color: $white;
  color: $dark-gray;
  border: none;
  &:hover {
    background-color: white;
    color: $dark-gray;
    border: none;
  }
}

.action-btn {
  .arrow-down {
    border-top: 6px solid $white;
    margin-left: 10px;
    position: relative;
    top: 10px;
  }
}

.blank-btn,
.review-publish-btn {
  background-color: $light-blue;
  &:hover { background-color: $hover-blue; }
}
.add-btn {
  margin: 0 10px;
  height: 30px;
}
.blank-btn { display: block; }
.blank-btn-homepage {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.import-btn,
.action-btn,
.submit-btn,
.cancel-btn {
  display: inline-block;
}
