@import "base";

.btn {
  text: {
    transform: uppercase;
    decoration: none;
  }
  font-weight: bold;
  font-size: 12px;
  letter-spacing: .1em;
  color: $white;
  height: 32px;
  line-height: 31px;
  padding: 0 25px;
  cursor: pointer;
  background-color: $dark-gray;
  display: inline-block;
  text-align: center;
  &:hover {
    background-color: $hover-gray;
    color: $white;
  }
}

.edit-btn {
  display: inline-block;
  width: 80px;
  background-position: 55px 6px;
  background-repeat: no-repeat;
  background-image: url("../images/edit-btn.png");
  height: 28px;
  line-height: 30px;
}

.action-btn {
  .arrow-down {
    border-top: 6px solid $white;
    margin-left: 10px;
    position: relative;
    top: 10px;
  }
}

.blank-btn,
.review-publish-btn,
.add-btn {
  background-color: $light-blue;
  &:hover { background-color: $hover-blue; }
}
.add-btn {
  margin: 0 10px;
  height: 30px;
}
.blank-btn { display: block; }

.import-btn,
.action-btn,
.submit-btn,
.cancel-btn {
  display: inline-block;
}
