@import "base";

.badgethumb {
  height: 200px;
}

.badgeinfo {
  position: relative;
  width: 25%;
  float: left;
  text-align: center;
  height: 300px;
  line-height: 50%;
}

a.badgeinfo {
  text-decoration: none;
  color: inherit;
}

.directoryheader {
  text-align: center;
}

.highlighted {
  background-color: #00AAAA;
}

.pagenav {
  text-align: center;
}

.addbadge {
  text-align: center;
}


.sort-dropdown {
    display: none;
    position: absolute;
    background: #fff;
    margin: 0;
    border:solid 1px #eeeeee;
    z-index:5;
    padding:0;
}
.sort-dropdown li {
    display: block;
    border-bottom: solid 1px #eeeeee;
    margin:0;
    width: 150px;
}
.sort-dropdown li a {
    color: #333;
    height:18px;
    padding:10px 0;
    font-size:13px;
    border-right: none;
    &:hover {
      color: red;
    }
}

.action-dropdown {
    display: none;
    position: absolute;
    background: #fff;
    margin: 0;
    border:solid 1px #eeeeee;
    z-index:5;
    padding:0;
    width: 150px;
}
.action-dropdown li {
    display: block;
    margin:0;
}
.action-dropdown li a {
    color: #333;
    height:18px;
    font-size:13px;
    text-decoration: none;
    color: black;
    margin: 0 5px 0 5px;
}
.action-dropdown li a:hover {
    background:#f9f9f9;
}
