.badgethumb {
  height: 200px;
}

.badgeinfo {
  position: relative;
  width: 25%;
  float: left;
  text-align: center;
  height: 300px;
  line-height: 50%;
}

a.badgeinfo {
  text-decoration: none;
  color: inherit;
}

.directoryheader {
  text-align: center;
}

.highlighted {
  background-color: #00AAAA;
}

.pagenav {
  text-align: center;
}

.addbadge {
  text-align: center;
}
