@import "base";

.badgethumb {
  height: 200px;
}

.badgeinfo {
  position: relative;
  width: 25%;
  float: left;
  text-align: center;
  height: 300px;
  line-height: 50%;
}

.directoryheader {
  text-align: center;
}

.pagenav {
  text-align: center;
}

.addbadge {
  text-align: center;
}

.action-dropdown {
  display: none;
  position: absolute;
  background: $white;
  margin: 0;
  border-top: 4px solid $light-green;
  z-index:5;
  padding:0;
  width: 150px;
  @include transition;
  @include dropdown-boxshadow;
  hr { margin: 0; }
}
.action-dropdown li {
  display: block;
  margin:0;
}
.action-dropdown li {
  font-size:13px;
  padding: 5px 20px;
  color: $dark-gray;
  &:hover { color: $light-blue; }
}
