@import "base";

.header-container,
.footer-container {
  width: $six-wide;
  margin: 30px 0 0 0;
  padding: 30px 120px;
}

.footer-container {
  background-color: $white;
  .footnote-container,
  .footer-menu {
    margin: 0 4%;
  }
}

.nav-header {
  position: relative;
  margin-left: 150px;
  .dropdown {
    display: inline;
    background: white;
    padding: 15px;
    border: 1px solid black;
    margin-right: 10px;
    a{
      &:last-child {
        border-right: none;
      }
    }
  }
  .dropdown {
    padding-left: 0.25em;
  }
}

.nav-header {
  .arrow-down {
    border-top-color: $dark-gray;
    position: relative;
    top: 17px;
    left: 150px;;
  }
  .about-arrow { left: 90px; }
  .logout-arrow { left: 190px; }
  .navigation-dropdown {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    li {
      color: $dark-gray;
      display: inline-block;
      position: relative;
      padding: 5px 20px;
      cursor: pointer;
      @include transition;
      &::hover {
        background: #555;
        color: #fff;
      }
      .menu-hover {
        padding: 0;
        position: absolute;
        top: 48px;
        left: 0;
        width: 173px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        @include transition;
        li {
          background-color: $white;
          display: block;
          color: $dark-gray;
          &:hover { color: $light-blue; }
        }
      }
    }
  }
  ul li:hover {
    .menu-hover {
      @include dropdown-boxshadow;
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1;
      border-top: 4px solid $light-green;
    }
  }
}

.highlight-arrow {
  position: absolute;
  top: 71px;
  left: 100px;
  width: 0px;
  height: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 9px solid $white;
}

.account-sign-in {
  float: right;
  margin-right: 200px;
  span { margin: 0 10px; }
}

.js-login {
  cursor: pointer;
}

.header-container {
  .menu-item {
    font-size: 18px;
    padding: 0 25px;
    color: $dark-gray;
    &:hover { color: $light-blue; }
    .arrow-down {
      border-top-color: $dark-gray;
      position: relative;
      top: 17px;
      left: 5px;
    }
    .fa-briefcase {
      font-size: 40px;
      margin-right: 10px;
      color: $dark-blue;
    }
    .fa-sign-in {
      color: $dark-gray;
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

.home-search {
  float: right;
  margin-top: -20px;
}

.open-badges-logo {
  display: block;
  width: 350px;
  height: 80px;
  background: url("../images/newoblogo.png") no-repeat;
  text-indent: -100%;
  overflow: hidden;
  margin-left: -14px;
  margin-right: 20px;
}

.footnote-container {
  float: left;
  width: 300px;
  margin: 0 40px;
}

.header-tab {
  float: right;
  display: block;
  background: white;
  border: 1px solid black;
  height: 44px;
  padding: 0 15px;
  position: relative;
  /*text-indent: -2000px;*/
  overflow: hidden;
  margin-top: -45px;
}

.centered-header {
  text-align: center;
}

.badges-container {
  width: $six-wide;
  margin: 0 auto;
}

.badge-status-info {
  width: 50%;
}

.badge-thumb-container {
  height: 85%;
  float: left;
  margin: 0 20px 20px 0;
  .badgethumb {
    @include drop-shadow;
    height: 100%;
  }
  .fa-plus-circle {
    width: 100%;
    text-align: center;
    color: $gray;
    font-size: 100px;
    border: 1px solid $white;
    @include drop-shadow;
  }
  .fa-plus-circle {
    padding: 25px;
    color: $gray;
    font-size: 100px;
    border: 1px solid $white;
    @include drop-shadow
  }
  .fa-plus-circle {
    padding: 25px;
    color: $gray;
    font-size: 100px;
    border: 1px solid $white;
    @include drop-shadow;
  }
}

/*.badge-container-buttons {
  position: absolute;
  right: 10px;
  padding: 5px 0;
  bottom: 0;
}*/

.badge-template,
.badge-new {
  position: relative;
  width: $three-wide;
  height: 185px;
  float: left;
  .fa-cloud-upload,
  .fa-pencil {
    color: $gray;
    a { margin-left: 5px; }
  }
  .fa-cloud-upload { font-size: 20px; }
  .upload-edit {
    padding: 5px 0 20px 0;
  }
  .small-copy {
    margin-top: -15px;
  }
}

.newly-created-badge {
  border: 10px solid;
}

.new-placeholder {
  margin: 15px 30px 15px 15px;
  float: left;
  background: $gray30;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  span {
    font-size: 100px;
    color: white;
    padding: 48px;
  }
}

.status {
  color: green;
}

.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $black;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $black;
}

.text-line {
  border-top: 1px solid $black;
  display: inline-block;
  width: 82.5%;
  margin-left: 20px;
}

.dropdown {
  overflow: hidden;
  border: 1px solid $gray;
  background: $white;
  width: 150px;
  height: 32px;
  position: relative;
  select {
    -webkit-appearance: none;
    cursor: pointer;
    width: 170px;
    padding: 6px 7px;
    border: 0;
    color: #41444a;
    font-size: 15px;
    background: transparent;
  }
}



.dropdown-nav {
  position: relative;
  .arrow-up,
  .arrow-down {
    position: absolute;
  }
  .arrow-up {
    top: 5px;
  }
  .arrow-down {
    bottom: 5px;
  }
  ul {
    display: none;
    &:hover {
      display: block;
    }
  }
}

.bold {
  font-weight: bold;
  margin-bottom: 0;
}

.small-copy {
  color: $gray;
  margin-top: 0;
}


/* ===[ Responsive Styles ] ========================*/
  /* Smaller ----------- */
@media screen and (max-width : 650px) {
  .header-container {
    border: none;
    margin-top: 20px;
    h1 { padding: 0; }
    .header-tab {
      display: none;
      padding:
    }
    .badgekit-logo {
      width: $six-wide;
      margin: 20px 0;
      text-align: center;
    }
  }
  .account-sign-in {
    float: none;
    margin-right: 0;
    text-align: center;
  }
  .header-container {
    .menu {
      padding: 15px 0;
    }
    .menu-item {
      width: $four-wide;
      display: block;
      border: 1px solid black;
      padding: 5px;
      margin: 10px auto;
      &:last-child {
        border-right: 1px solid black;
      }
    }
  }
  .home-search {
    float: none;
    margin-top: 0;
    margin: 0 auto;
    input {
      width: $six-wide;
    }
  }
  .footer-container {
    .footnote-container {
      width: $six-wide;
      clear: both;
      padding: 20px 0;
      margin: 0;
    }
    .footer-menu {
      margin: 0;
    }
    .other-lang {
      float: left;
    }
  }
}

/* Medium ----------- */
@media screen and (max-width: 750px) {
  .badge-template,
  .badge-new {
    width: $six-wide;
  }
}

/* Larger ----------- */
@media screen and (max-width: 950px) {
}

