@import "base";
@import "buttons";

.table {
  width: 69%;
  display: table;
  padding: 0 20px;
}

.table-cell {
  width: 20%;
  display: table-cell;
}

.wide-cell { width: 40%; }
.table-row { display: table-row; }

.header-container,
.footer-container {
  padding: 20px 125px 0 125px;
  background-color: $light-gray;
}

.header-row {
  line-height: 3em;
  .table-cell { font-weight: bold; }
}

.footer-container {
  width: $six-wide;
  margin: 30px 0 0 0;
  padding: 30px 9% 15px 9%;
}

.badgekit-logo {
  width: 20%;
  height: auto;
  margin-left: -20px;
}

.homepage-nav { margin-top: 3.5%; }

.nav-header {
  .arrow-down {
    border-top-color: $dark-gray;
    position: absolute;
    top: 25px;
    right: 10px;;
  }
  .sort-arrow { right: 25px; }
  .navigation-dropdown {
    position: relative;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    .sort-by { color: $brown; }
    li {
      color: $dark-gray;
      display: inline-block;
      position: relative;
      padding: 5px 20px;
      cursor: pointer;
      @include transition;
      &::hover {
        background: #555;
        color: #fff;
      }
      .menu-hover {
        padding: 0;
        position: absolute;
        top: 33px;
        left: 0;
        width: 173px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        @include transition;
        li {
          background-color: $white;
          display: block;
          color: $dark-gray;
          &:hover { color: $light-blue; }
        }
      }
      .sort-menu-hover {
        top: 30px;
        left: -16px;
      }
      .hover-applications,
      .logout-hover,
      .about-hover { top: 33px; }
      .logout-hover { width: 250px; }
    }
    .sort-menu {
      color: $white;
      background-color: $gray;
      border-bottom: 5px solid $dark-gray;
    }
  }
  ul li:hover {
    .menu-hover {
      @include dropdown-boxshadow;
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1;
      border-top: 4px solid $light-green;
    }
  }
}

.pending-count {
  margin-left: 40px;
  border-radius: 145px;
  padding: 5px;
  font-size: 10px;
  color: white;
  background-color: #e56723;
}

.highlight-arrow {
  position: absolute;
  top: 117px;
  left: 260px;
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 15px solid $white;
}

.logged-in-highlight-arrow {
  top: -34px;
  left: 215px;
  border-bottom: 15px solid $dark-beige;
}

.account-sign-in {
  float: right;
  margin-right: 200px;
  span { margin: 0 10px; }
}

.js-login {
  cursor: pointer;
}

.header-container {
  .menu-item {
    font-size: 18px;
    padding: 0 25px;
    color: $dark-gray;
    &:hover { color: $light-blue; }
    & a { color: $dark-gray; }
    .arrow-down {
      border-top-color: $dark-gray;
      position: relative;
      top: 17px;
      left: 5px;
    }
    .fa-briefcase {
      font-size: 40px;
      margin-right: 10px;
      color: $dark-blue;
    }
    .fa-sign-in {
      color: $dark-gray;
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

.open-badges-logo {
  display: block;
  width: 350px;
  height: 80px;
  background: url("../images/newoblogo.png") no-repeat;
  text-indent: -100%;
  overflow: hidden;
  margin-left: -14px;
  margin-right: 20px;
}

.footnote-container {
  float: left;
  width: 300px;
  margin: 0 40px;
}

.header-tab {
  float: right;
  display: block;
  background: white;
  border: 1px solid black;
  height: 44px;
  padding: 0 15px;
  position: relative;
  /*text-indent: -2000px;*/
  overflow: hidden;
  margin-top: -45px;
}

.centered-header {
  text-align: center;
}

.info {
  width: $five-wide;
  text-align: center;
  margin: 0 auto;
  .info-heading {
    font-weight: bold;
    color: $light-blue;
    font-size: 30px;
    margin-bottom: 0;
  }
  .info-text {
    color: $brown;
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 10px;
  }
}

.badge-status-info {
  width: 50%;
}

.directory-container {
  position: relative;
}

.item.badge-new { height: 450px; }

.badge-new,
.badge-template {
  margin-bottom: 30px;
  border: 1px solid $light-gray;
  position: relative;
  width: $two-wide;
  height: auto;
  h2, p { padding: 0 10px; }
  .edit-link {
    padding: 10px;
    &:hover { color: $hover-blue; }
  }
  .badgethumb {
    width: 100%;
    height: 295px;
    background-color: $white;
    background-size: 165%;
    background-position: 50%;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
    &:hover {
      background-size: 100%;
    }
  }
  .new-badge-placeholder {
    width: 100%;
    height: 295px;
    background-color: $light-green;
    color: $white;
    text-align: center;
  }
  .view-btn,
  .use-btn,
  .action-btn { width: 49.3%; }
  .fa-cloud-upload { font-size: 20px; }
  .upload-edit {
    padding: 5px 0 20px 0;
  }
  .small-copy {
    margin-top: -15px;
  }
}

.fa-cloud-upload,
.fa-pencil {
  color: $brown;
  margin-right: 5px;
}

.form-dropdown {
  position: relative;
  overflow: hidden;
  border: 1px solid #dbdee3;
  width: $three-wide;
  height: 28px;
  position: relative;
  top: 5px;
  &:hover {
    -webkit-box-shadow: 0 0 2px;
    -moz-box-shadow: 0 0 2px;
    box-shadow: 0 0 2px;
  }
  .arrow-down {
    position: absolute;
    right: 5px;
    top: 12px;
  }
  select {
    -webkit-appearance: none;
    cursor: pointer;
    width: 105%;
    padding: 6px 7px;
    border: 0;
    font-size: 12px;
    background: transparent;
  }
}

.short-dropdown {
  width: $one-wide;
  display: inline-block;
  top: 8px;
}

.new-placeholder {
  margin: 15px 30px 15px 15px;
  float: left;
  background: $gray30;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  span {
    font-size: 100px;
    color: white;
    padding: 48px;
  }
}

.status {
  color: green;
}

.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $black;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $black;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid $black;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right:6px solid $black;
}

.text-line {
  border-top: 1px solid $black;
  display: inline-block;
  width: 82.5%;
  margin-left: 20px;
}

.bold {
  font-weight: bold;
  margin-bottom: 0;
}

.small-copy {
  color: $brown;
  margin-top: 0;
}

.notification {
  text-align: center;
  background: rgba(221,170,51,1);
  color: white;
  padding: .5em;
  font-weight: bold;
}