@import "base";
@import "buttons";

.bold {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
}

.two-column-text {
   -webkit-column-count: 2;
  -webkit-column-gap: 35px;
  -moz-column-count: 2;
  -moz-column-gap: 35px;
  column-count: 2;
  column-gap: 35px;
  line-height: 1.7em;
  padding-top: 20px;
  padding-bottom: 10px;
  p:first-child { margin: 0; }
}

.link-two-column {
  padding-left: 0;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
}

.tabs {
  margin: 30px auto 0 auto;
  padding: 10px 10px 5px 0;
  .tab {
    cursor: pointer;
    background-color: $light-gray;
    display: inline;
    padding: 5px 15px;
    margin: 20px 10px 20px 0;
    border: 1px solid $light-gray;
    a { color: $dark-gray; }
  }
  .selected {
    background-color: $white;
    border-bottom: 1px solid $white;
  }
}

.badge-label {
  font-weight: bold;
  width: $two-wide;
  margin-right: 6%;
}

.badge-field {
  width: $three-wide;
}

.about-badges {
  color: $white;
  background-color: #5bc5c8;
  padding: 50px;
  .info-heading {
    margin-top: 0;
    text-align: center;
  }
  a {
    color: $white;
    &:hover { color: $hover-blue; }
  }
  ul { list-style: bullet; }
}

.about-page {
  li { list-style-type: disc; }
}

.margin-top-none { margin-top: 0; }
.margin-bottom-none { margin-bottom: 0; }
.underline { text-decoration: underline; }

.more-about-open-badges {
  padding: 40px;
  text-align: center;
}

.about-open-badges {
  margin-bottom: -30px;
  .open-badges-button {
    background-color: #f16344;
    width: 100px;
    border-radius: 5px;
    padding: 20px;
    color: $white;
    &:hover {
      background-color: #eb7823;
      color: $white;
    }
  }
}

.error-container {
  color: white;
  padding-bottom: 20px;
  background-color: #6fc1d4;
  margin: auto;
  margin-bottom: -30px;
  position: relative;
  text-align: center;
  .four-oh-four {
    position: absolute;
    text-align: left;
    color: white;
    width: 45%;
    right: 50px;
    top: 350px;
    .bullet-list { padding-left: 10px; }
  }
}
.access-to-badges {
  padding: 40px 0;
  .access-image { margin-right: 100px; }
  img {
    display: block;
    padding: 10px 0;
    width: 100px;
    margin: 0 auto;
  }
  p { line-height: 1.7em; }
}

.apply-review-issue {
  text-align: center;
  img { padding: 3%}
  p { text-align: left; }
}

.tools-for-badges {
  padding: 30px 0;
  img { width: 250px; }
}
.header-container,
.footer-container {
  padding: 20px 17% 0 17%;
  background-color: $light-gray;
  .footer-logo-container {
    width: $two-wide;
    .open-mcarther-logo { width: 250px; }
  }
  .footer-links {
    width: $four-wide;
    .footer-columns {
      margin-right: 10%;
      ul {
        font-family: "Open Sans";
        font-size: 12px;
        padding-left: 0;
        a {
          color: $dark-gray;
          &:hover { color: $light-blue; }
        }
      }
    }
  }
}
.footer-container { margin: 30px 0 0 0; }

.header-row {
  line-height: 3em;
  .table-cell { font-weight: bold; }
}

.badgekit-logo {
  width: 21%;
  height: auto;
  margin-left: -20px;
}

.nav-header,
.header-container {
  .arrow-down {
    border-top-color: $dark-gray;
    position: absolute;
    top: 25px;
    right: 10px;
    &:hover { border-top-color: $white;}
  }
  .sort-arrow { right: 25px; }
  .navigation-dropdown {
    position: relative;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    .fa-clipboard {
      margin-right: 20px;
      cursor: pointer;
    }
    .sort-by { color: $brown; }
    li {
      color: $dark-gray;
      display: inline-block;
      position: relative;
      padding: 5px 20px;
      cursor: pointer;
      @include transition;
      &::hover {
        background: #555;
        color: #fff;
      }
      .menu-hover {
        padding: 0;
        position: absolute;
        top: 33px;
        left: 0;
        width: 173px;
        display: none;
        opacity: 0;
        visibility: hidden;
        @include transition;
        li {
          background-color: $dark-gray;
          display: block;
          color: $white;
          &:hover { background-color: $hover-gray; }
        }
      }
      .sort-menu-hover {
        top: 30px;
        left: -16px;
      }
      .hover-applications,
      .logout-hover,
      .about-hover { top: 33px; }
      .logout-hover,
      .hover-applications { width: 250px; }
    }
    .sort-menu {
      border: 1px solid $dark-gray;
    }
  }
  ul li:hover {
    .menu-hover {
      @include dropdown-boxshadow;
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
}

.header-container {
  .navigation-dropdown {
    padding: 0;
    margin-top: -15px;
  }
  .arrow-down { top: 15px; right: 0; }
  .menu-item {
    &:hover {
      background-color: $dark-gray;
      color: $white;
    }
  }
}

.pending-count {
  margin-left: 40px;
  border-radius: 145px;
  padding: 5px;
  font-size: 10px;
  color: white;
  background-color: #e56723;
}

.highlight-arrow {
  position: absolute;
  top: 117px;
  left: 260px;
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 15px solid $white;
}

.logged-in-highlight-arrow {
  top: -34px;
  left: 215px;
  border-bottom: 15px solid $dark-beige;
}

.account-sign-in {
  float: right;
  margin-right: 200px;
  span { margin: 0 10px; }
}

.uppercase {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.js-login {
  cursor: pointer;
}

.navigation {
  background-color: #d0d0d0;
  position: relative;
  bottom: 35px;
  width: $four-wide;
  float: right;
  .menu-item.login-hover:hover {
    background-color: transparent;
    color: $hover-gray;
  }
  .menu-item {
    border-left: 1px solid $light-gray;
    font-size: 18px;
    padding: 0 25px;
    color: $dark-gray;
    &:hover {
      background-color: $dark-gray;
      color: $white;
    }
    a {
      color: $dark-gray;
      &:hover { color: $white;}
    }
    .arrow-down {
      border-top-color: $dark-gray;
      position: relative;
      top: 17px;
      left: 5px;
      &:hover { border-top-color: $white; }
    }
    .fa-briefcase {
      font-size: 40px;
      margin-right: 10px;
      color: $dark-blue;
    }
    .fa-sign-in {
      color: $dark-gray;
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

.open-badges-logo {
  display: block;
  width: 350px;
  height: 80px;
  background: url("../images/newoblogo.png") no-repeat;
  text-indent: -100%;
  overflow: hidden;
  margin-left: -14px;
  margin-right: 20px;
}

.footnote-container {
  float: left;
  width: 300px;
  margin: 0 40px;
}

.header-tab {
  float: right;
  display: block;
  background: white;
  border: 1px solid black;
  height: 44px;
  padding: 0 15px;
  position: relative;
  /*text-indent: -2000px;*/
  overflow: hidden;
  margin-top: -45px;
}

.centered-header {
  text-align: center;
}

.import-template-modal {
  display: none;
  position: absolute;
  left: 225px;
  width: 500px;
  margin: 100px auto;
  background-color: $white;
  padding:15px;
  background-color: white;
  border: 1px solid $light-gray;
  z-index: 100;
  .close-btn {
    background-color: $black;
    padding: 0 7px;
    border-radius: 50%;
    color: $white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .badge-field {
    line-height: 26px;
    margin-right: 20px;
    min-width: 345px;
  }
}

.info {
  width: $five-wide;
  text-align: center;
  margin: 0 auto;
}
.info-heading {
  font-weight: bold;
  color: $light-blue;
  font-size: 30px;
  margin-bottom: 0;
}
.info-text {
  color: $brown;
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 10px;
}

.badge-status-info {
  width: 50%;
}

.directory-container {
  position: relative;
}

.item.badge-new { height: 450px; }

.badge-new,
.badge-template {
  margin-bottom: 30px;
  border: 1px solid $light-gray;
  position: relative;
  width: $two-wide;
  height: auto;
  h2, p { padding: 0 10px; }
  .edit-link {
    padding: 10px;
    &:hover { color: $hover-blue; }
  }
  .badgethumb {
    width: 100%;
    height: 295px;
    background-color: $white;
    background-size: 165%;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
    &:hover {
      background-size: 100%;
    }
  }
  .new-badge-placeholder {
    width: 100%;
    background-color: $light-green;
    color: $white;
    text-align: center;
    font-family: "Open Sans Light";
    font-size: 225px;
  }
  .view-btn,
  .use-btn,
  .action-btn { width: 49.1%; }
  .fa-cloud-upload { font-size: 20px; }
  .upload-edit {
    padding: 5px 0 20px 0;
  }
  .small-copy {
    margin-top: -15px;
  }
}

.border-top {
  border-top: 1px solid $light-gray;
  padding-top: 20px;
  margin-top: 40px;
}

.fa-cloud-upload,
.fa-pencil {
  color: $brown;
  margin-right: 5px;
}

.form-dropdown {
  position: relative;
  overflow: hidden;
  border: 1px solid #dbdee3;
  width: $three-wide;
  height: 28px;
  position: relative;
  top: 5px;
  &:hover {
    -webkit-box-shadow: 0 0 2px;
    -moz-box-shadow: 0 0 2px;
    box-shadow: 0 0 2px;
  }
  .arrow-down {
    position: absolute;
    right: 5px;
    top: 12px;
  }
  select {
    -webkit-appearance: none;
    cursor: pointer;
    width: 105%;
    padding: 6px 7px;
    border: 0;
    font-size: 12px;
    background: transparent;
  }
}

.short-dropdown {
  width: $one-wide;
  display: inline-block;
  top: 8px;
}

.new-placeholder {
  margin: 15px 30px 15px 15px;
  float: left;
  background: $gray30;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  span {
    font-size: 100px;
    color: white;
    padding: 48px;
  }
}

.status {
  color: green;
}

.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $black;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $black;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid $black;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right:6px solid $black;
}

.text-line {
  border-top: 1px solid $black;
  display: inline-block;
  width: 82.5%;
  margin-left: 20px;
}

.bold {
  font-weight: bold;
  margin-bottom: 0;
}

.small-copy {
  color: $dark-gray;
  margin-top: 0;
  font-size: 13px;
}

.notification p {
  text-align: center;
  background-color: $light-green;
  color: white;
  padding: .5em;
  font-weight: bold;
}