@import "base";

.header-container,
.footer-container {
  padding: 0 0 20px 0;
  margin-top: 30px;
  border-top: 1px solid black;
  h1 {
    margin: 0;
    padding: 28px 0 0 0;
  }
  .container {
    padding: 0 25px;
  }
}

.footer-container {
  width: $six-wide;
  padding: 45px 0;
  .footnote-container,
  .footer-menu {
    margin: 0 4%;
  }
}

.badgekit-logo {
  width: 300px;
}

.nav-header {
  margin: 0 auto;
  text-align: center;
  .menu-about-badges,
  .menu-about-people,
  .dropdown {
    display: inline;
    background: white;
    padding: 15px;
    border: 1px solid black;
    margin-right: 10px;
    a{
      &:last-child {
        border-right: none;
      }
    }
  }
  .dropdown {
    padding-left: 0.25em;
  }
}

.categories {
  background: gray;
  padding: 15px 0;
  font-size: 20px;
  a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    border-right: 1px solid black;
    padding: 0 1em;
  }
  .dropdown-nav {
    border-right: none;
  }
}

.highlighted {
  background-color: #00AAAA;
}

.account-sign-in {
  float: right;
  margin-right: 200px;
  span { margin: 0 10px; }
}

.js-login {
  cursor: pointer;
}

.menu {
  margin: -1em 0 0;
  padding: 0;
  list-style: none;
  line-height: 1em;
}

.header-container {
  .menu-item {
    float: none;
    display: inline-block;
    border-right: 1px solid black;
    padding: 0 1em;
    &:last-child {
      border-right: none;
    }
  }
}

.home-search {
  float: right;
  margin-top: -20px;
}

.open-badges-logo {
  display: block;
  width: 350px;
  height: 80px;
  background: url("../images/newoblogo.png") no-repeat;
  text-indent: -100%;
  overflow: hidden;
  margin-left: -14px;
  margin-right: 20px;
}

.footnote-container {
  float: left;
  width: 300px;
  margin: 0 40px;
}

.header-tab {
  float: right;
  display: block;
  background: white;
  border: 1px solid black;
  height: 44px;
  padding: 0 15px;
  position: relative;
  /*text-indent: -2000px;*/
  overflow: hidden;
  margin-top: -45px;
}

.centered-header {
  text-align: center;
}

.badges-container {
  width: $six-wide;
  margin: 0 auto;
}

.badge-status-info {
  width: 50%;
}

.badge-thumb-container {
  height: 85%;
  float: left;
  margin: 10px 40px 20px 10px;
  .badgethumb {
    @include drop-shadow;
    height: 100%;
  }
  .fa-plus-circle {
    width: 100%;
    text-align: center;
    color: $gray;
    font-size: 100px;
    border: 1px solid $white;
    @include drop-shadow;
  }
}

/*.badge-container-buttons {
  position: absolute;
  right: 10px;
  padding: 5px 0;
  bottom: 0;
}*/

.badge-template,
.badge-new {
  position: relative;
  width: $three-wide;
  height: 185px;
  float: left;
  .fa-cloud-upload {
    font-size: 20px;
    color: $gray;
  }
  .upload-edit {
    padding: 5px 0 20px 0;
  }
  .small-copy {
    margin-top: -15px;
  }
}

.newly-created-badge {
  border: 10px solid;
}

.new-placeholder {
  margin: 15px 30px 15px 15px;
  float: left;
  background: $gray30;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  span {
    font-size: 100px;
    color: white;
    padding: 48px;
  }
}

.status {
  color: green;
}

.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $black;
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $black;
}

.text-line {
  border-top: 1px solid $black;
  display: inline-block;
  width: 82.5%;
  margin-left: 20px;
}

.dropdown {
  overflow: hidden;
  border: 1px solid $gray;
  background: $white;
  width: 150px;
  height: 32px;
  position: relative;
  select {
    -webkit-appearance: none;
    cursor: pointer;
    width: 170px;
    padding: 6px 7px;
    border: 0;
    color: #41444a;
    font-size: 15px;
    background: transparent;
  }
}

.dropdown-signed-in {
  top: -22px;
  right: 20px;
  .arrow-down {
    position: absolute;
    top: 15px;
    right: 10px;
  }
}

.dropdown-nav {
  position: relative;
  .arrow-up,
  .arrow-down {
    position: absolute;
  }
  .arrow-up {
    top: 5px;
  }
  .arrow-down {
    bottom: 5px;
  }
  ul {
    display: none;
    &:hover {
      display: block;
    }
  }
}

.bold {
  font-weight: bold;
  margin-bottom: 0;
}

.small-copy {
  color: $gray;
  margin-top: 0;
}


/* ===[ Responsive Styles ] ========================*/
  /* Smaller ----------- */
@media screen and (max-width : 650px) {
  .header-container {
    border: none;
    margin-top: 20px;
    h1 { padding: 0; }
    .header-tab {
      display: none;
      padding:
    }
    .badgekit-logo {
      width: $six-wide;
      margin: 20px 0;
      text-align: center;
    }
  }
  .account-sign-in {
    float: none;
    margin-right: 0;
    text-align: center;
  }
  .header-container {
    .menu {
      padding: 15px 0;
    }
    .menu-item {
      width: $four-wide;
      display: block;
      border: 1px solid black;
      padding: 5px;
      margin: 10px auto;
      &:last-child {
        border-right: 1px solid black;
      }
    }
  }
  .home-search {
    float: none;
    margin-top: 0;
    margin: 0 auto;
    input {
      width: $six-wide;
    }
  }
  .footer-container {
    margin-top: 30px;
    .footnote-container {
      width: $six-wide;
      clear: both;
      padding: 20px 0;
      margin: 0;
    }
    .footer-menu {
      margin: 0;
    }
    .other-lang {
      float: left;
    }
  }
}

/* Medium ----------- */
@media screen and (max-width: 750px) {
  .badge-template,
  .badge-new {
    width: $six-wide;
  }
}

/* Larger ----------- */
@media screen and (max-width: 950px) {
}

