@import "base";
.help-page {
  text-align: center;
  padding-bottom: 30px;

  .sub-heading { font-size: 25px; }
  .help-section {
    margin: 0 auto;
    width: $four-wide;
    padding: 20px 0 0 0;
    text-align:left;

    .help-faq {
      border-top:1px solid $light-gray;
      padding:.25em 0 1em;
    }

    .help-question {
      display:block;
      font-weight: bold;
      margin: 20px 0 10px 0;
    }

    .help-question:hover {
      cursor:pointer;
      text-decoration: underline;
    }

    .help-answer { 
      line-height: 1.8em; 
      margin-bottom:1em;
      }

    .help-links {
      display: block;
      padding: 5px 0;
    }

  }

li { margin-bottom:.5em; }
ol li,
ul ol li {list-style-type: decimal;}
ul li {list-style-type: disc;}
ul ul li {list-style-type: circle;}
ul ul ul li {list-style-type: square;}
ol ol li {list-style-type: lower-alpha;}
ol ol ol li {list-style-type: lower-roman;}

  .faq-template { display:none; }

}
