@import "base";

.header-small-screen {
  display: none;
  padding: 20px 0;
  background: $dark-beige;
  width: 100%;
  margin: 0 0 10px 0;
  @include drop-shadow;
  .fa-bars,
  .fa-gear {
    font-size: 20px;
    color: $brown;
    cursor: pointer;
  }
  .fa-bars { padding-left: 20px; }
}

.menu-small-screen {
  display: none;
  width: 100%;
  background-color: $white;
  color: $brown;
  margin-top:-16px;
  @include drop-shadow;
  ul  { padding: 0 20px; }
  .menu-title {
    border-bottom: 1px solid $brown;
    padding: 20px 5px;
    .fa-briefcase,
    .fa-folder-open {
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .second-menu-title { padding-top: 0; }
  .first-item { padding-top: 0; }
  li {
    margin-left: 10px;
    padding: 20px 5px;
    border-bottom: 1px dotted $dark-beige;
  }
  .last-item {
    border-bottom: none;
    padding-bottom: 10px;
  }
}

.form-col-1,
.form-col-2 {
  width: 43%;
  margin-right: 5%;
}

.form-container { padding: 50px 0; }
.sign-up-form {
  width: $six-wide;
  padding-top: 5px;
  .form-fields { width: $five-wide; }
  .form-row {
    width: $six-wide;
    span {
      margin-right: calc( 5% + 2px);
      margin-bottom: 5px;
      line-height: 14px;
      padding: 11px 0 11px 5px;
    }
    input {
      height: 32px;
      padding-left: 5px;
      border: 1px solid $light-gray;
      border-radius: 2px;
    }
  }
  button {
    background-color: $dark-gray;
    border: none;
    color: $white;
    font-size: 12px;
    border-radius: 2px;
    &:hover { background-color: $hover-gray; }
  }
}

.thanks-for-signup { display: none; }


.splash-image {
  width: $six-wide;
  color: $white;
  background: url("../images/badgekit-splash.png") no-repeat;
  background-size: cover;
  height: 449px;
  padding: 20px;
  .what-is-header,
  .small-copy {
    width: $two-wide;
  }
  .small-copy {
    color: white;
    line-height: 170%;
    margin-bottom: 100px;
  }
  .what-is-header {
    font-size: 40px;
    margin-top: 100px;
  }
}

.placeholder-new-template {
  width: 90%;
  margin: 0 auto;
}

.home-get-started {
  text-align: center;
  position: relative;
  h1 { font-size: 30px; }
  .badge-new,
  .badge-template {
    width: 37%;
    margin: 0 30px;
  }
  .badge-new { height: 410px; }
  .badge-template {
    .view-btn { width: $six-wide; }
  }
  .or-seperator {
    position: relative;
    border-left: 1px solid $light-blue;
    height: 300px;
    margin: 65px 40px;
    .or {
      background: $white;
      border: 1px solid $light-blue;
      border-radius: 100px;
      font-size: 20px;
      color: $light-blue;
      padding: 22px 25px;
      position: absolute;
      right: -35px;
      top: 110px;
    }
  }
}