@import "base";

.home-what-is-badge,
.home-what-is-image {
  width: $three-wide;
  padding: 6% 4.5%;
}

.home-what-is-badge {
  color: $white;
  background-color: $medium-blue;
  .small-copy { color: white; }
  .what-is-header {
    font-size: 50px;
    margin: 0 0 20px 0;
    line-height: 1.25em;
  }
}

.home-what-is-image {
  background-color: $medium-green;
  height: 377px;
}

.home-get-started {
  padding: 20px 0;
}