@import "base";

.header-small-screen {
  display: none;
  padding: 20px 0;
  background: $dark-beige;
  width: 100%;
  margin: 0 0 10px 0;
  @include drop-shadow;
  .fa-bars,
  .fa-gear {
    font-size: 20px;
    color: $brown;
    cursor: pointer;
  }
  .fa-bars { padding-left: 20px; }
}

.menu-small-screen {
  display: none;
  width: 100%;
  background-color: $white;
  color: $brown;
  margin-top:-16px;
  @include drop-shadow;
  ul  { padding: 0 20px; }
  .menu-title {
    border-bottom: 1px solid $brown;
    padding: 20px 5px;
    .fa-briefcase,
    .fa-folder-open {
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .second-menu-title { padding-top: 0; }
  .first-item { padding-top: 0; }
  li {
    margin-left: 10px;
    padding: 20px 5px;
    border-bottom: 1px dotted $dark-beige;
  }
  .last-item {
    border-bottom: none;
    padding-bottom: 10px;
  }
}

.splash-image {
  width: $six-wide;
  color: $white;
  background: url("../images/badgekit-splash.png") no-repeat;
  background-size: cover;
  height: 449px;
  padding: 20px;
  .badges-made-simple {
    width: $three-wide;
    margin: 135px 100px;
    .small-copy {
      color: white;
      line-height: 1.5em;
    }
    .what-is-header {
      font-size: 40px;
      margin-bottom: 15px;
    }
    .what-is-header,
    .small-copy {
      width: $five-wide;
    }
  }
}

.placeholder-new-template {
  width: $four-wide;
  margin: 0 auto;
  div {
    margin: 0 auto;
  }
}

.home-get-started {
  text-align: center;
  position: relative;
  h1 { font-size: 30px; }
  .or-seperator {
    position: absolute;
    background: $white;
    border: 1px solid $light-blue;
    border-radius: 100px;
    font-size: 20px;
    color: $light-blue;
    padding: 22px 25px;
    left: 543px;
    top: 225px;
  }
  .badge-new,
  .badge-template {
    width: $three-wide;
  }
  .badge-new {
    border-right: 1px solid $light-blue;
  }
}