<div class="form-field-wrapper">
  <label class="badge-label block" for="textType">Text Background</label>
  {% for text in texts %}
    <input class="radio-badge-field js-text-radio" type="radio" name="textType" value="{{ text.id }}" {% if savedTextType == text.id %}checked{% endif %}/>
    <img class="studio-thumb" src="{{ text.image }}"/>
  {% endfor %}
</div>

<div class="form-field-wrapper">
  <label class="badge-label block" for="textContents">Text</label>
  <input class="badge-field js-text-contents" type="text" name="textContents" value="{{ savedTextContents }}" placeholder="Enter Text Here"/>
</div>