{% extends "about/layout.html" %}

{% block content %}
  <section class="about-badges">
    <div class="container">
      <h1 class="info-heading">About Badgekit</h1>
      <div class="two-column-text">
        <p>BadgeKit is a set of practical tools for working with Open Badges (link http://openbadges.org). Organizations can use BadgeKit to quickly and easily build custom badging systems tailored to their own communities.</p>
        <p>BadgeKit provides many of the component parts required within any badge issuing application, but is open and flexibly designed, giving you agency to configure the experience you want badge earners to have.</p>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="access-to-badges clearfix">
      <div class="left access-image">
        <img src="{{ static('images/access.png') }}">
        <a href="">Request Access Now</a>
      </div>
      <p>Currently available in hosted private beta form for organizations looking to get involved at an early stage and play a role in BadgeKit's future, the tools are under continuing development - you can sign-up (link http://badgekit.org) to request access now. If you don't have the resources required for access at this stage - stay tuned for future developments!</p>
    </div>
    <hr>
    <div class="apply-review-issue">
      <img src="{{ static('images/apply-badgekit.png') }}">
      <img src="{{ static('images/review-badgekit.png') }}">
      <img src="{{ static('images/issue-badgekit.png') }}">
      <div class="two-column-text">
        <p>Badging systems involve a number of key processes, including creating badges, letting people apply for them, reviewing applications and issuing badges. The tools within BadgeKit are aimed at helping organizations to implement these processes within their own systems. Since BadgeKit is open, you can customize the tools to meet the needs of your own community.</p>
      </div>
    </div>
    <hr>
    <div class="tools-for-badges clearfix">
      <div class="right tools-image">
        <img src="{{ static('images/tools-badgekit.png') }}">
      </div>
      <p>BadgeKit is built on technologies that have evolved over a period of several years, so the tools benefit from extensive testing and understanding gained through work with real-world badging systems.</p>
      <p>At the moment you can work with BadgeKit either by signing up for private beta access or by downloading the code from GitHub (link https://github.com/mozilla/openbadges-badgekit) and installing it on your own server.</p>
    </div>
    <hr>
    <div class="two-column-text">
      <p>Although currently focused on supporting organizations with significant technical and other resources, BadgeKit is continually developing to cater for anyone looking to implement a badging system. The BadgeKit tools evolved through badging projects with cities, so are primarily suited to larger organizations - support for individuals who want to issue badges is coming down the line!</p>
    </div>
    <p>See the following resources for further information about BadgeKit:</p>
    <ul class="two-column-text link-two-column">
      <li><a href="https://badgekit.org/help">Help and FAQs</a></li>
      <li><a href="https://github.com/mozilla/openbadges-badgekit/wiki/BadgeKit-Tutorial">Tutorial</a> </li>
      <li><a href=" https://github.com/mozilla/openbadges-badgekit/wiki/Glossary">Glossary</a></li>
      <li><a href="https://github.com/mozilla/openbadges-badgekit/wiki/BadgeKit-API-Introduction">BadgeKit API Introduction</a></li>
      <li><a href="https://github.com/mozilla/openbadges-badgekit/wiki/BadgeKit-and-Open-Badges-Resources">Resources</a></li>
    </ul>
    <hr>
    <a href="" class="more-about-open-badges">Now learn more about OpenBadges</a>
  </section>
{% endblock %}
