{% extends "badge/layout.html" %}
{% block content %}
  <div class="container beige-container clearfix">
    <div class="badge-details left">
      <img class="badge-image" src="{{ badge.imageUrl | default(url('badge.image', { badgeId: badge.id })) }}">
      <div class="badge-preview-info">
      </div>
    </div>
      <div class="badge-info left">
      <h1>{{ badge.name }} </h1>

      <p class="bold">Description:</p>
      <p class="small-copy">{{ badge.description }}</p>

      {% for criteria in badge.criteria %}
      <p class="bold">Criteria {{ loop.index }}:</p>
      <p class="small-copy">{{ criteria.description }}</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}