{% extends "badge/layout.html" %}

{% import "badge/criterion.html" as criterionTemplate %}

{% macro createSectionAnchorAttributes(s) %}
  href="{{ url('badge.edit', { badgeId: badge.id }) }}?section={{ s }}&category={{ badge.status }}" data-section="{{ s }}" class="js-category-anchor"
{% endmacro %}

{% macro createSectionDivAttributes(s) %}
  class="js-form-page js-section-{{ s }} {% if section != s %}hidden{% endif %}"
{% endmacro %}

{% macro disabled() %}
  {{ 'disabled' if badge.status != "draft" and badge.status != "template" }}
{% endmacro %}

<!-- {% block header -%}
  {{ super() }}
{%- endblock %} -->

{% block content %}
  <div class="container page-container clearfix">
    <div class="notification js-notification"></div>
    <div class="nav-inputs">
      <input class="badge-field js-name-field left" type="text" name="name" {{ disabled() }} value="{{ badge.name }}">
      <div class="save-box">
        <input class="save js-save-btn left" type="submit" value="Saved" {{ disabled() }}/>
        <i class="fa fa-refresh fa-spin js-save-spinner hidden"></i>
      </div>
      <div class="publish-save">
        {% if badge.status != 'template' and canPublish %}
          <a class="btn review-publish-btn js-publish-btn" data-url="{{ url('badge.publish', { badgeId: badge.id }) }}" {% if badge.status != 'draft' %}disabled{% endif %}>Publish<i class="fa fa-rocket"></i></a>
        {% endif %}
        <a href="{{ url('directory') }}" class="btn use-btn js-save-and-exit-btn">Exit<i class="fa fa-sign-out"></i></a>
      </div>
    </div>

    <ul class="tabs">
      <li class="tab selected"><a {{ createSectionAnchorAttributes('description') }}>Description</a></li>
      <li class="tab"><a {{ createSectionAnchorAttributes('options') }}>Options</a></li>
      <li class="tab"><a {{ createSectionAnchorAttributes('criteria') }}>Criteria</a></li>
      <li class="tab"><a {{ createSectionAnchorAttributes('milestone') }}>Milestone</a></li>
      <li class="tab"><a {{ createSectionAnchorAttributes('visual') }}>Visual</a></li>
    </ul>

    <form class="badge-form clearfix js-badge-form" name="input" action="{{ url('badge.save', { badgeId: badge.id }) }}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      <input type="hidden" name="badgeId" value="{{ badge.id }}"/>
      <input type="hidden" class="js-hidden-name-field" name="name" value="{{ badge.name }}"/>

      <!-- <img class="badge-image right" src="{{ badge.imageUrl | default(url('badge.image', { badgeId: badge.id })) }}"/> -->

      <div {{ createSectionDivAttributes('description') }}>

        <p class="form-heading"><span class="form-heading-span">Description</span> Describe the badge to potential earners and mentors.</p>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="issuerUrl">Issuer<p class="small-copy"> Organization URL</p></label>
          <input class="badge-field" type="text" name="issuerUrl" {{ disabled() }} value="{{ badge.issuerUrl }}" placeholder="http://www.name.org"/>
        </div>

        <div class="form-field-wrapper">
          <label class="badge-label left" for="description">Short Description<p class="small-copy">Like a tagline. 140 characters.</p></label>
          <textarea class="badge-field short-description" {{ disabled() }} type="text" name="description">{{ badge.description }}</textarea>
        </div>

        <div class="form-field-wrapper">
          <label class="badge-label left" for="tags">Tags<p class="small-copy">Comma separated keywords</p></label>
          <input class="badge-field" type="text" name="tags" {{ disabled() }} value="{{ generateTagString(badge.tags) }}" placeholder="org name, subject, activity, keywords, etc"/>
          <!-- <a class="btn add-btn">Add<i class="fa fa-plus"></i></a> -->
        </div>

        <div class="form-field-wrapper cb">
          <label class="badge-label left" for="earnerDescription">Description for Earners<p class="small-copy">Describe why and how someone would apply for this badge.</p></label>

          <textarea class="badge-field" {{ disabled() }} type="text" name="earnerDescription">{{ badge.earnerDescription }}</textarea>
        </div>

        <div class="form-field-wrapper">
          <label class="badge-label left" for="consumerDescription">Description for Consumers<p class="small-copy">Explain the value of the badge to potential employers, admissions counselors, and others interested in an earner and their badges.</p></label>
          <textarea class="badge-field" {{ disabled() }} type="text" name="consumerDescription">{{ badge.consumerDescription }}</textarea>
        </div>
      </div>

      <div {{ createSectionDivAttributes('visual') }}>
        <p class="form-heading"><span class="form-heading-span">Visual</span> Use visuals to express the nature and value of a badge.</p>

        <div>
          <img class="badge-image" src="{{ badge.imageUrl | default(url('badge.image', { badgeId: badge.id })) }}" style="display: block; margin: 0 auto;">
        </div>

        <a href="{{ url('studio.edit', {badgeId: badge.id}) }}">
          <div class="left design-upload-container design-container">
            <i class="fa fa-magic"></i>
            <p class="design-upload-heading">Design<span class="design-upload-subhead">from Scratch</span></p>
          </div>
        </a>

        <section class="or-seperator left">
          <span class="or">or</span>
        </section>

        <div class="left design-upload-container">
          <i class="fa fa-cloud-upload"></i>
          <label class="design-upload-heading" for="uploadImage">Upload<span class="design-upload-subhead">a PNG</span></label>
          <input class="upload-image js-upload-image" type="file" name="uploadImage" {{ disabled() }}/>
        </div>
      </div>

      <div {{ createSectionDivAttributes('milestone') }}>
        <p class="form-heading"><span class="form-heading-span">Milestone</span> Recognize earners who have been awarded a set of badges.</p>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="">Milestone Badge<p class="small-copy">Is this badge and automatic milestone based on earning other badges?</p>
            <div class="tooltip-container js-tooltip-container"><p class="small-copy"></p></div>
          </label>
          <input class="radio-badge-field" type="radio" name="" value="yes">Yes</input>
          <input class="radio-badge-field" type="radio" name="" value="no">No</input>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="">Automatic Result</label>
          <input class="radio-badge-field block" type="radio" name="" value="automatic">Automatically Issue the badge</input>
          <input class="radio-badge-field block" type="radio" name="" value="queue">Queue an Application for review</input>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="">Requirements<p class="small-copy">How many badges must be earned to achieve this milestone? Update Badge Criteria Accordingly</p></label>
          <input class="badge-field short-badge-field" type="number" name="quantity" min="1" max="100" placeholder="100"> Badges
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label" for="">Support Badges<p class="small-copy">How many badges must be earned to achieve this milestone? Update Badge Criteria Accordingly</p></label>
          <div class="support-badge-modal js-modal">+</div>
        </div>
        <div class="overlay">
          <div class="modal-container">
            <span class="close-btn js-close">x</span>
            <p>3 Badges Required. 5 Badges selected.</p>
            <p>10 combinations available to earn!</p>
            <hr>
            <div class="form-field-wrapper clearfix">
              <div class="form-dropdown left">
                <span class="arrow-down"></span>
                <select class="badge-field" name="categories">
                  <option value="View All Categories"></option>
                </select>
              </div>
              <input class="badge-field" placeholder="Find By Keyword">
            </div>
          </div>
        </div>
      </div>

      <div {{ createSectionDivAttributes('criteria') }}>
        <p class="form-heading"><span class="form-heading-span">Criteria</span> Define requirements to guide earners and mentors.</p>
        <div class="form-field-wrapper">
          <label class="badge-label left" for="numCriteria">How many criteria?</label>
          <div class="form-dropdown short-dropdown">
            <span class="arrow-down"></span>
            <select name="numCriteria" class="js-num-criteria" {{ disabled() }}>
              {% for i in range(1, 10) %}
              <option {% if i == badge.criteria.length %} selected {% endif %} value="{{i}}">{{i}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        {% for criterion in badge.criteria %}
          {{ criterionTemplate.generateCriterion(loop.index0, criterion, disabled()) }}
        {% endfor %}
        <div class="form-field-wrapper">
          <label class="badge-label left" for="rubricUrl">Rubric URL<p class="small-copy">Link to external materials.<i class="fa fa-question-circle js-tooltip"></i></p>
            <div class="tooltip-container js-tooltip-container"><p class="small-copy">Guide your mentors with PDFs and other documents.</p></div>
          </label>
          <input class="badge-field" type="text" name="rubricUrl" {{ disabled() }} value="{{ badge.rubricUrl }}" placeholder="http://site.org/123/rubric.pdf"/>
        </div>
      </div>

      <div {{ createSectionDivAttributes('options') }}>
        <p class="form-heading"><span class="form-heading-span">Options</span> Choose optional badge properties and constraints.</p>
        <!-- <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="group">Group<p class="small-copy">Related badges can be grouped.<i class="fa fa-question-circle js-tooltip"></i></p>
            <div class="tooltip-container js-tooltip-container"><p class="small-copy">For administration and display. (Feature Coming Soon...)</p></div>
          </label>
          <div class="form-dropdown">
            <span class="arrow-down"></span>
            <select {{ disabled() }} name="group">
              <option value="Feature Coming Soon...">Feature Coming Soon...</option>
            </select>
          </div>
        </div> -->

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="timeValue">Time<p class="small-copy">Approximate time for earners to complete.<i class="fa fa-question-circle js-tooltip"></i></p>
            <div class="tooltip-container js-tooltip-container"><p class="small-copy">An estimate of total time for activities.</p></div>
          </label>
          <input class="short-badge-field badge-field" type="number" min="0" name="timeValue" value="{{ badge.timeValue }}"/>
          <div class="form-dropdown short-dropdown">
            <span class="arrow-down"></span>
            <select {{ disabled() }} name="timeUnits">
              <option {% if badge.timeUnits == 'minutes' %} selected {% endif %} value="minutes">Minutes</option>
              <option {% if badge.timeUnits == 'hours' %} selected {% endif %}value="hours">Hours</option>
              <option {% if badge.timeUnits == 'days' %} selected {% endif %}value="days">Days</ysoption>
              <option {% if badge.timeUnits == 'weeks' %} selected {% endif %}value="weeks">Weeks</option>
            </select>
          </div>
          <div class="cb"></div>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="badgeType">Type<p class="small-copy">Select a badge type.<i class="fa fa-question-circle js-tooltip"></i></p>
            <div class="tooltip-container js-tooltip-container"><p class="small-copy">Read more about how you can use <a>badge types</a>.</p></div>
          </label>
          <div class="form-dropdown">
            <span class="arrow-down"></span>
            <select {{ disabled() }} name="badgeType">
              <option value="">Select an optional badge type</option>
              {% for badgeType in badgeTypes %}
                <option value="{{ badgeType }}" {% if badgeType == badge.badgeType %} selected {% endif %}>{{ badgeType }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="badgeCategory">Category<p class="small-copy">Select a badge category.<i class="fa fa-question-circle js-tooltip"></i></p>
            <div class="tooltip-container js-tooltip-container"><p class="small-copy">Read more about how you can use <a>badge categories</a>.</p></div>
          </label>
          <div class="badge-input" id="badge-categories">
            {% for category in badge.categories %}
              <div class="form-dropdown">
                <span class="arrow-down"></span>
                <select {{ disabled() }} name="category"{% if loop.first %} id="badgeCategory"{% endif %}>
                  <option value="">Select an optional badge category</option>
                  {% for badgeCategory in badgeCategories %}
                    <option value="{{ badgeCategory.id }}"{% if category == badgeCategory.id %} selected{% endif %}>{{ badgeCategory.label }}</option>
                  {% endfor %}
                </select>
              </div>
              <br>
            {% endfor %}
            {% for i in range(badge.categories.length, 3) %}
              <div class="form-dropdown">
                <span class="arrow-down"></span>
                <select {{ disabled() }} name="category"{% if i == 0 %} id="badgeCategory"{% endif %}>
                  <option value="">Select an optional badge category</option>
                  {% for badgeCategory in badgeCategories %}
                    <option value="{{ badgeCategory.id }}">{{ badgeCategory.label }}</option>
                  {% endfor %}
                </select>
              </div>
              <br>
            {% endfor %}
          </div>
        </div>

        <!-- <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="license">License<p class="small-copy">Choose a creative commons license.<i class="fa fa-question-circle js-tooltip"></i></p>
            <div class="tooltip-container js-tooltip-container"><p class="small-copy">Can others remix and issue your badge?</p></div>
          </label>
          <div class="form-dropdown">
            <span class="arrow-down"></span>
            <select {{ disabled() }} name="license">
              <option value="Feature Coming Soon...">Feature Coming Soon...</option>
            </select>
          </div>
        </div> -->

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="limit">Limit<p class="small-copy">How many people can earn this badge?</p></label>
          <input class="radio-badge-field" type="radio" name="limit" value="open" {% if not (badge.limit > 0) %} checked {% endif %}{{ disabled() }}>Open</input>
          <input class="radio-badge-field" type="radio" name="limit" value="limit" {% if badge.limit > 0 %} checked {% endif %}{{ disabled() }}>Limit To:</input>
          <input class="short-badge-field" type="number" name="limitNumber" min="0" value="{{ badge.limit }}" {{ disabled() }}></input>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="unique">Unique<p class="small-copy">Can one person earn this badge multiple times?</p></label>
          <input class="radio-badge-field" type="radio" name="unique" value="open" {% if not badge.unique %} checked {% endif %}{{ disabled() }}>Open</input>
          <input class="radio-badge-field" type="radio" name="unique" value="unique" {% if badge.unique %} checked {% endif %}{{ disabled() }}>Limit one-per-person</input>
        </div>

        <!-- <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="multiClaimCode">Multi-use Claim Code<p class="small-copy">Allow earner to self-issue? Provide a claim code.<i class="fa fa-question-circle js-tooltip"></i></p>
            <div class="tooltip-container js-tooltip-container"><p class="small-copy"><a href="{{ url('help') }}">Learn more</a> about claim code.</p></div>
          </label>
          <input class="badge-field" type="text" {{ disabled() }} name="multiClaimCode" value="{{ badge.multiClaimCode }}"></input>
        </div> -->

      </div>
    </form>
  </div>
{% endblock %}


{% block scripts -%}
  {{ super() }}
  <script src="{{ static('/js/edit-badge.js') }}"></script>
  <script src="{{ static('/js/jquery.form.min.js') }}"></script>
{%- endblock %}
