{% extends "badge/layout.html" %}

{% import "badge/criterion.html" as criterionTemplate %}

{% macro createSectionAnchorAttributes(s) %}
  href="{{ url('badge.edit', { badgeId: badge.id }) }}?section={{ s }}&category={{ category }}" data-section="{{ s }}" class="js-category-anchor"
{% endmacro %}

{% macro createSectionDivAttributes(s) %}
  class="js-form-page js-section-{{ s }} {% if section != s %}hidden{% endif %}"
{% endmacro %}

{% macro disabled() %}
  {{ 'disabled' if badge.status != "draft" and badge.status != "template" }}
{% endmacro %}

<!-- {% block header -%}
  {{ super() }}
{%- endblock %} -->

{% block content %}
  <div class="container beige-container clearfix">
    <div class="nav-inputs">
      <input class="badge-field js-name-field left" type="text" name="name" {{ disabled() }} value="{{ badge.name }}">
      <i class="fa fa-pencil"></i>
      <div class="save-box">
        <input class="save js-save-btn left" type="submit" value="Saved" {{ disabled() }}/>
        <i class="fa fa-refresh fa-spin js-save-spinner hidden"></i>
      </div>
      <div class="publish-save">
        <a class="btn light-btn review-publish-btn js-publish-btn" data-url="{{ url('badge.publish', { badgeId: badge.id }) }}" {% if badge.status != 'draft' %}disabled{% endif %}>Publish<i class="fa fa-rocket"></i></a>
        <a href="{{ url('directory') }}" class="btn use-btn js-save-and-exit-btn">Exit<i class="fa fa-sign-out"></i></a>
      </div>
    </div>

    <ul class="visual-studio-tabs">
      <li class="studio-tab selected"><a {{ createSectionAnchorAttributes('description') }}>Description</a></li>
      <li class="studio-tab"><a {{ createSectionAnchorAttributes('options') }}>Options</a></li>
      <li class="studio-tab"><a {{ createSectionAnchorAttributes('criteria') }}>Criteria</a></li>
      <li class="studio-tab"><a {{ createSectionAnchorAttributes('milestone') }}>Milestone</a></li>
      <li class="studio-tab"><a {{ createSectionAnchorAttributes('visual') }}>Visual</a></li>
    </ul>

    <form class="badge-form clearfix js-badge-form" name="input" action="{{ url('badge.save', { badgeId: badge.id }) }}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      <input type="hidden" name="badgeId" value="{{ badge.id }}"/>
      <input type="hidden" class="js-hidden-name-field"name="name" value="{{ badge.name }}"/>

      <!-- <img class="badge-image right" src="{{ badge.imageUrl | default(url('badge.image', { badgeId: badge.id })) }}"/> -->

      <div {{ createSectionDivAttributes('description') }}>

        <p class="form-heading"><i class="fa fa-list-ul"></i><span class="form-heading-span">Description</span> fields are required by the Open Badges Specification.</p>

        <div class="form-field-wrapper">
          <label class="badge-label left" for="issuerUrl">Issuer</label>
          <input class="badge-field" type="text" name="issuerUrl" {{ disabled() }} value="{{ badge.issuerUrl }}" placeholder="Issuer Website URL Here"/>
        </div>

        <div class="form-field-wrapper">
          <label class="badge-label left" for="description">Short Description<p class="small-copy">Like a tagline. 140 characters.</p></label>
          <textarea class="badge-field short-description" {{ disabled() }} type="text" name="description">{{ badge.description }}</textarea>
        </div>

        <div class="form-field-wrapper">
          <label class="badge-label left" for="tags">Tags</label>
          <input class="badge-field tags-field left" type="text" name="tags" {{ disabled() }} value="{{ badge.tags }}"/>
          <a class="btn add-btn">Add<i class="fa fa-plus"></i></a>
        </div>

        <div class="form-field-wrapper">
          <label class="badge-label left" for="earnerDescription">Description for Earners<p class="small-copy">A few wise words to guide the badge maker.<i class="fa fa-question-circle"></i></p></label>

          <textarea class="badge-field" {{ disabled() }} type="text" name="earnerDescription">{{ badge.earnerDescription }}</textarea>
        </div>

        <div class="form-field-wrapper">
          <label class="badge-label left" for="consumerDescription">Description for Consumers<p class="small-copy">A few wise words to guide the badge maker.<i class="fa fa-question-circle"></i></p></label>
          <textarea class="badge-field" {{ disabled() }} type="text" name="consumerDescription">{{ badge.consumerDescription }}</textarea>
        </div>

      </div>

      <div {{ createSectionDivAttributes('visual') }}>
        <p class="form-heading"><i class="fa fa-eye"></i><span class="form-heading-span">Visual</span></p>
        <h2>Upload a Badge</h2>
        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="uploadImage">Choose File</label>
          <input class="badge-field js-upload-image" type="file" name="uploadImage" {{ disabled() }}/>
        </div>

        <hr>

        <h2>Build a Badge</h2>

        <div class="canvas-wrapper">
          <canvas width="180" height="180" class="badge-canvas js-badge-canvas"></canvas>
        </div>

        <canvas width="30" height="10" class="color-canvas js-color-canvas"></canvas>

        <div class="form-field-wrapper clearfix js-visual-shape">
          <label class="badge-label left" for="shape">Shape</p></label>
          {% for shape in shapes %}
            <input class="radio-badge-field js-shape-radio" type="radio" name="shape" value="{{ shape.id }}" {% if badge.studioShape == shape.id %}checked{% endif %}/>
            <img class="studio-thumb" src="{{ shape.image }}"/>
          {% endfor %}
        </div>

        <div class="form-field-wrapper clearfix js-visual-background" data-url="{{ url('studio.backgrounds') }}" data-saved-background="{{ badge.studioBackground }}">

        </div>

        <div class="form-field-wrapper clearfix js-visual-text" data-url="{{ url('studio.texts') }}" data-saved-text-type="{{ badge.studioTextType }}" data-saved-text-contents="{{ badge.studioTextContents }}">

        </div>

        <div class="form-field-wrapper clearfix js-visual-icon" data-url="{{ url('studio.icons') }}" data-saved-icon="{{ badge.studioIcon }}">

        </div>

        <div class="form-field-wrapper clearfix js-visual-color" data-url="{{ url('studio.colors') }}" data-saved-color="{{ badge.studioColor }}">

        </div>

        <div class="submit-button-wrapper clearfix">
          <button type="button" class="btn hidden submit-btn js-save-image">Save Badge Image</button>
        </div>
      </div>

      <div {{ createSectionDivAttributes('milestone') }}>
        <p class="form-heading"><i class="fa fa-shield"></i><span class="form-heading-span">Milestone</span></p>
        <h1>Badge Milestones</h1>

        <p>Not yet implemented
      </div>

      <div {{ createSectionDivAttributes('criteria') }}>
        <p class="form-heading"><i class="fa fa-check"></i><span class="form-heading-span">Criteria</span></p>
        <div class="form-field-wrapper">
          <label class="badge-label left" for="numCriteria">How Many?</label>
          <div class="form-dropdown short-dropdown">
            <span class="arrow-down"></span>
            <select name="numCriteria" class="js-num-criteria" {{ disabled() }}>
              {% for i in range(1, 10) %}
              <option {% if i == badge.criteria.length %} selected {% endif %} value="{{i}}">{{i}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        {% for criterion in badge.criteria %}
          {{ criterionTemplate.generateCriterion(loop.index0, criterion, disabled()) }}
        {% endfor %}
        <div class="form-field-wrapper">
          <label class="badge-label left" for="rubricUrl">Rubric URL<p class="small-copy">Link to external materials.<i class="fa fa-question-circle"></i></p></label>
          <input class="badge-field" type="text" name="rubricUrl" {{ disabled() }} value="{{ badge.rubricUrl }}"/>
        </div>
      </div>

      <div {{ createSectionDivAttributes('options') }}>
        <p class="form-heading"><i class="fa fa-wrench"></i><span class="form-heading-span">Options</span></p>
        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="group">Group<p class="small-copy">Related badges can be grouped.<i class="fa fa-question-circle"></i></p></label>
          <div class="form-dropdown">
            <span class="arrow-down"></span>
            <select {{ disabled() }} name="group">
              <option value="Not Yet Implemented">Not Yet Implemented</option>
            </select>
          </div>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="timeValue">Time<p class="small-copy">Approximate time to complete.<i class="fa fa-question-circle"></i></p></label>
          <input class="short-badge-field badge-field" type="number" min="0" name="timeValue" value="{{ badge.timeValue }}"/>
          <div class="form-dropdown short-dropdown">
            <span class="arrow-down"></span>
            <select {{ disabled() }} name="timeUnits">
              <option {% if badge.timeUnits == 'minutes' %} selected {% endif %} value="minutes">Minutes</option>
              <option {% if badge.timeUnits == 'hours' %} selected {% endif %}value="hours">Hours</option>
              <option {% if badge.timeUnits == 'days' %} selected {% endif %}value="days">Days</ysoption>
              <option {% if badge.timeUnits == 'weeks' %} selected {% endif %}value="weeks">Weeks</option>
            </select>
          </div>
          <div class="cb"></div>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="license">License<p class="small-copy">Choose a creative commons license<i class="fa fa-question-circle"></i></p></label>
          <div class="form-dropdown">
            <span class="arrow-down"></span>
            <select {{ disabled() }} name="license">
              <option value="Not Yet Implemented">Not Yet Implemented</option>
            </select>
          </div>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="issuers">Issuers<p class="small-copy">Who can issue this badge?<i class="fa fa-question-circle"></i></p></label>
          <div class="form-dropdown">
            <span class="arrow-down"></span>
            <select {{ disabled() }} name="issuers">
              <option value="Not Yet Implemented">Not Yet Implemented</option>
            </select>
          </div>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="limit">Limit<p class="small-copy">How many people can earn this badge?<i class="fa fa-question-circle"></i></p></label>
          <input class="radio-badge-field" type="radio" name="limit" value="open" {% if not (badge.limit > 0) %} checked {% endif %}{{ disabled() }}>Open</input>
          <input class="radio-badge-field" type="radio" name="limit" value="limit" {% if badge.limit > 0 %} checked {% endif %}{{ disabled() }}>Limit To:</input>
          <input class="short-badge-field" type="number" name="limitNumber" min="0" value="{{ badge.limit }}" {{ disabled() }}></input>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="unique">Unique<p class="small-copy">Can one person earn this badge multiple times?<i class="fa fa-question-circle"></i></p></label>
          <input class="radio-badge-field" type="radio" name="unique" value="open" {% if not badge.unique %} checked {% endif %}{{ disabled() }}>Open</input>
          <input class="radio-badge-field" type="radio" name="unique" value="unique" {% if badge.unique %} checked {% endif %}{{ disabled() }}>Limit one-per-person</input>
        </div>

        <div class="form-field-wrapper clearfix">
          <label class="badge-label left" for="multiClaimCode">Multi-use Claim Code<p class="small-copy">Allow earner to self-issue? Provide a claim code.<i class="fa fa-question-circle"></i></p></label>
          <input class="badge-field" type="text" {{ disabled() }} name="multiClaimCode" value="{{ badge.multiClaimCode }}"></input>
        </div>

      </div>
    </form>
  </div>
{% endblock %}


{% block scripts -%}
  {{ super() }}
  <script src="{{ static('/js/edit-badge.js') }}"></script>
  <script src="{{ static('/js/badge-studio.js') }}"></script>
{%- endblock %}
