{% extends "badge/layout.html" %}

{% block content %}
  <div class="container clearfix">
    <div class="badge-details">
      <img class="badge-image left" src="{{ badge.imageUrl | default(url('badge.image', { badgeId: badge.id })) }}">
      <div class="badge-preview-info">
        <!-- <a href="{{ url('badge.edit', { badgeId: badge.id }) }}?category={{ badge.status }}" class="block">
          <i class="fa fa-pencil"></i>Edit
        </a>
        {% if badge.status == 'template' %}
          <a href="{{ url('directory.useTemplate') }}?templateId={{ badge.id }}" class="btn use-btn">Use</a>
        {% endif %} -->
        <p>{{ badge.name }} </p>
        <p>Status: <span class="status">{{ badge.status | default('active') | capitalize }}</span></p>
        <p>Created: {{ createdFormatted }}</p>
        <p>License: Share alike</p>
      </div>
    </div>

    <ul class="visual-studio-tabs cb">
      <li class="studio-tab selected"><a>View</a></li>
      <li class="studio-tab"><a>Action</a></li>
    </ul>

    <div class="badge-info">
      <p class="badge-title">Issuer<span class="badge-description">{{ badge.issuerUrl }}</span></p>

      <p class="badge-title">Program<span class="badge-description">{{ badge.program.name }}</span>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container">
          <p class="small-copy">Feature Badges by group using the Display API.</p>
        </div>
      </p>



      <p class="badge-title">Short Description</p>
      <p class="badge-description">{{ badge.description }}</p>

      <p class="badge-title">Description for Earners</p>
      <p class="badge-description">{{ badge.earnerDescription }}</p>

      <p class="badge-title">Technical Description</p>
      <p class="badge-description">{{ badge.consumerDescription }}</p>

      <p class="badge-title">Tags</p>
      <p class="badge-description">{{ badge.tags }}</p>

      {% for criteria in badge.criteria %}
        <p class="badge-title">Criteria {{ loop.index }}</p>
        <p class="badge-description">{{ criteria.description }}</p>
      {% endfor %}
    </div>

    <div class="published-actions">
      <div class="form-field-wrapper">
        <p class="badge-title block" for="email">Issue by Email</p>
        <textarea class="badge-field badge-field-textarea left" type="text" name="email" placeholder="Seperate emails with commas"></textarea>
        <i class="fa fa-group"></i>
      </div>
      <a href="{{ url('badge.issueByEmail', {badgeId: badge.id }) }}" class="btn blue-btn"><i class="fa fa-envelope"></i>Issue by Email</a>

      <p class="badge-title border-top">Claim Codes</p>
      <div class="form-field-wrapper">
        <label class="badge-title left" for="code">Multi Use</label>
        <input class="badge-field inline" type="text" name="code" placeholder="something-memorable"></input>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">Many earners can use this to claim a badge.</p></div>
      </div>
      <div class="form-field-wrapper">
        <label class="badge-title left" for="code">Unique</label>
        <input class="badge-field unique-field inline" type="text" name="code" placeholder="27"></input>
        <a href="" class="btn blue-btn"></i>Create New</a>
        <a href="" class="btn">View Available</a>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">One unique code per earner. Create, view, and print.</p></div>
      </div>

      <p class="badge-title border-top">Admin</p>
      <div class="admin-btn-container">
        <a href="" class="btn blue-btn"><i class="fa fa-share-square"></i>Share</a>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">Embed this badge opportunity on your blog.</p></div>
      </div>
      <div class="admin-btn-container">
        <a href="" class="btn blue-btn js-copy-btn" data-url="{{ url('badge.copy', {badgeId: badge.id }) }}" data-csrf="{{ csrfToken }}"><i class="fa fa-clipboard"></i>Copy Badge</a>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">Copy the badge to create a new draft.</p></div>
      </div>
      <div class="admin-btn-container">
        <a href="" class="btn blue-btn"><i class="fa fa-envelope"></i>Email Report</a>
      </div>
        <a href="" class="btn js-archive-btn" data-url="{{ url('badge.archive', {badgeId: badge.id }) }}" data-csrf="{{ csrfToken }}"><i class="fa fa-download"></i>Archive Badge</a>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">Archived badges can no longer be earned or issued.</p></div>
    </div>

    <div class="templates-actions">
      <div class="admin-btn-container">
        <a href="{{ url('badge.edit', { badgeId: badge.id }) }}?category={{ category }}" class="blue-btn btn" ><i class="fa fa-pencil"></i>Edit</a>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">Edit freely. This will not affect badges that previously used this template.</p></div>
      </div>
      <div class="admin-btn-container">
        <a href="{{ url('directory.useTemplate') }}?templateId={{ badge.id }}" class="blue-btn btn"><i class="fa fa-clipboard"></i>Use</a>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">Use the template stencil to create a new draft.</p></div>
      </div>
      <div class="admin-btn-container">
        <a href="" class="blue-btn btn"><i class="fa fa-cloud-upload"></i>Download</a>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">Download a baked template for saving and sharing.</p></div>
      </div>
        <a href="" class="btn">Delete</a>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">Careful. You cannot undo!</p></div>
      </div>

      <div class="archived-actions">
        <div class="admin-btn-container">
          <a href="" class="btn blue-btn js-copy-btn" data-url="{{ url('badge.copy', {badgeId: badge.id }) }}" data-csrf="{{ csrfToken }}"><i class="fa fa-clipboard"></i>Copy Badge</a>
          <i class="fa fa-question-circle js-tooltip"></i>
          <div class="tooltip-container js-tooltip-container"><p class="small-copy">Copy the badge to create a new draft.</p></div>
        </div>
        <div class="admin-btn-container">
          <a href="" class="blue-btn btn"><i class="fa fa-envelope"></i>Email Report</a>
        </div>
        <a href="" class="btn js-archive-btn" data-url="{{ url('badge.archive', {badgeId: badge.id }) }}" data-csrf="{{ csrfToken }}"><i class="fa fa-download"></i>Unarchive</a>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">Reactivate so the badge can be earned and issued.</p></div>
      </div>

      <div class="draft-actions">
        <div class="admin-btn-container">
          <a href="{{ url('badge.edit', { badgeId: badge.id }) }}?category={{ category }}" class="blue-btn btn" ><i class="fa fa-pencil"></i>Edit</a>
          <i class="fa fa-question-circle js-tooltip"></i>
          <div class="tooltip-container js-tooltip-container"><p class="small-copy">Edit freely. This will not affect badges that previously used this template.</p></div>
        </div>
        <div class="admin-btn-container">
          <a class="btn blue-btn js-publish-btn blut-btn" data-url="{{ url('badge.publish', { badgeId: badge.id }) }}"><i class="fa fa-rocket"></i>Publish</a>
          <i class="fa fa-question-circle js-tooltip"></i>
          <div class="tooltip-container js-tooltip-container"><p class="small-copy">Use the template stencil to create a new draft.</p></div>
        </div>
        <div class="admin-btn-container">
          <a href="" class="btn blue-btn js-copy-btn" data-url="{{ url('badge.copy', {badgeId: badge.id }) }}" data-csrf="{{ csrfToken }}"><i class="fa fa-clipboard"></i>Copy Badge</a>
          <i class="fa fa-question-circle js-tooltip"></i>
          <div class="tooltip-container js-tooltip-container"><p class="small-copy">Copy the badge to create a new draft.</p></div>
        </div>
        <a href="" class="btn">Delete</a>
        <i class="fa fa-question-circle js-tooltip"></i>
        <div class="tooltip-container js-tooltip-container"><p class="small-copy">Careful. You cannot undo!</p></div>
      </div>
    </div>
  </div>
{% endblock %}