{% extends "badge/layout.html" %}

{% block content %}
  <div class="container beige-container clearfix">
    <div class="badge-details left">
      <img class="badge-image" src="{{ badge.imageUrl | default(url('badge.image', { badgeId: badge.id })) }}">
      <div class="badge-preview-info">
        <a href="{{ url('badge.edit', { badgeId: badge.id }) }}?category={{ category }}" class="block">
          <i class="fa fa-pencil"></i>Edit
        </a>
        {% if badge.status == 'template' %}
          <a href="{{ url('directory.useTemplate') }}?templateId={{ badge.id }}" class="btn use-btn">Use</a>
        {% endif %}

        <p>Status: <span class="status">{{ badge.status | default('active') | capitalize }}</span></p>
        <p>Created: {{ createdFormatted }}</p>
        <p>License: Share alike</p>
      </div>
    </div>
      <div class="badge-info left">
      <h1>{{ badge.name }} </h1>
      <p class="bold">Program:</p>
      <p class="small-copy">{{ badge.program.name }}</p>

      <p class="bold">Short Description:</p>
      <p class="small-copy">{{ badge.description }}</p>

      <p class="bold">Description for Earners:</p>
      <p class="small-copy">{{ badge.earnerDescription }}</p>

      <p class="bold">Technical Description:</p>
      <p class="small-copy">{{ badge.consumerDescription }}</p>

      <p class="bold">Tags:</p>
      <p class="small-copy">{{ badge.tags }}</p>

      {% for criteria in badge.criteria %}
      <p class="bold">Criteria {{ loop.index }}:</p>
      <p class="small-copy">{{ criteria.description }}</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}