{% extends "badge/layout.html" %}

{% block content %}
  <div class="container">  
    <form class="badge-form" name="input" action="{{ url('badge.issueByEmail', { badgeId: badge.id }) }}" method="post">
      <h1>Issue Badge by Email Address</h1>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"></input>
      <input type="hidden" name="badgeId" value="{{ badge.id }}"></input>

      <img class="badge-image right" src="{{ badge.image | default(url('badge.image', { badgeId: badge.id })) }}"/>

      <div class="form-field-wrapper">
        <p><span class="badge-label" for="name">Name:</span> {{ badge.name }}
      </div>

      <div class="form-field-wrapper">
        <label class="badge-label" for="email">Enter an Email Address:</label>
        <input class="badge-field" type="text" name="email" value=""/>
      </div>

      <button class="gray-btn submit-btn" type="submit">Issue Badge</button>
    </form>
  </div>
{% endblock %}
