{% extends "layout.html" %}
{% block content %}
  <section class="splash-image">
    <div class="badges-made-simple">
      <h1 class="what-is-header">Badges made simple.</h1>
      <p class="small-copy">Welcome! BadgeKit helps you build, assess and issue badges. The new platform easily connects with your website and services so you can bring Open Badges to your community.</p>
    </div>
  </section>
  <div class="container clearfix">
    <div class="home-get-started clearfix cb">
      <h1>Get started making badges</h1>
      <div class="placeholder-new-template">
        <section class="badge-new badge-new-homepage left">
          <div class="new-badge-placeholder"></div>
          <h2>Create a New Badge</h2>
          <a class="btn blank-btn blank-btn-homepage js-login">Start</a>
        </section>
        <section class="or-seperator left">
          <span class="or">or</span>
        </section>
        <section class="badge-template left">
          <div class="badgethumb js-badgethumb" data-image="url('{{ static('images/default-badge.png') }}')"></div>
          <h2>Cat in Space</h2>
          <p class="small-copy">Status: Template</p>
          <a class="btn view-btn js-login">View</a>
        </section>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts -%}
  {{ super() }}
{%- endblock %}
