<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}BadgeKit{% endblock %}</title>
  {% block head -%}
    <link rel="stylesheet" href="{{ static('/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static('/css/base.css') }}">
    <link rel="stylesheet" href="{{ static('/css/global.css') }}">
  {%- endblock %}
</head>
<body>
  {% block body -%}
    {% block headerWrapper -%}
      <header id="header" class="header-container">
        {% block header -%}
          <!-- <div class="container">
            <h1>
              <a href="http://www.mozilla.org/" class="header-tab">Mozilla</a>
            </h1>

            <h1 class="badgekit-logo">
              <a href="{{ url('directory') }}">BadgeKit</a>
            </h1>

            <nav class="nav-header">
              <ul class="menu">
                <li class="menu-item">
                  <a href="#">Build</a>
                </li>
                <li class="menu-item">
                  <a href="#">Assess</a>
                </li>
                <li class="menu-item">
                  <a href="#">About</a>
                </li>
                <li class="menu-item">
                  <a href="#">Glossary</a>
                </li>
              </ul>
            </nav>

            <div class="home-search">
              <input placeholder="Search" type="text">
            </div>

          </div> -->

          <div class="container">
            <h1 class="badgekit-logo">
              <a href="{{ url('directory') }}">BadgeKit</a>
            </h1>

            <div class="home-search">
              <input placeholder="Search" type="text">
            </div>
            {% if loggedInUser %}
              <div class="dropdown dropdown-signed-in right">
                <select class="js-user-dropdown">
                  <option selected="selected">Welcome {{ loggedInUser }}</option>
                  <option id="logout">Sign Out</option>
                  <option class="js-navigate" value="{{ url('settings') }}">Settings</option>
                </select>
                <span class="arrow-down"></span>
              </div>

            {% else %}
              <div class="dropdown dropdown-signed-in right">
                <select>
                  <option id="login">Sign In</option>
                  <option>Create Account</option>
                </select>
                <span class="arrow-down"></span>
              </div>
            {% endif %}
          </div>
        {%- endblock %}
      </header>
    {%- endblock %}

    {% block contentWrapper -%}
      <div id="content">
        {% block content -%}
        {%- endblock %}
      </div>
    {%- endblock %}

    {% block footerWrapper -%}
      <footer id="footer" class="footer-container left">
        {% block footer -%}
        <div class="container clearfix">
          <a href="http://openbadges.org" class="open-badges-logo left">Mozilla Open Badges</a>
          <section class="footnote-container">
            <p class="footnote">Portions of this content are &copy; 1998-2013 by individual <a href="">mozilla.org</a> contributors. Content available under a <a href="">Creative Commons license.</a></p>
            <p class="footnote"><a href="">Contribute to this page</a></p>
          </section>

          <ul class="footer-menu menu left">
            <li class="menu-item">
              <a href="#">Contact Us</a>
            </li>
            <li class="menu-item">
              <a href="#">Partner With Us</a>
            </li>
            <li class="menu-item">
              <a href="#">Donate</a>
            </li>
            <li class="menu-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="menu-item">
              <a href="#">Legal Notices</a>
            </li>
            <li class="menu-item">
              <a href="#">Report Trademark Abuse</a>
            </li>
          </ul>

          <section class="other-lang right">
            <h3>Other languages:</h3>
            <select id="job_engagement" name="job[engagement]">
              <option value="English" selected="selected">English</option>
              <option value="Something">Something</option>
              <option value="Other">Other</option>
            </select>
          </section>
        </div>
        {%- endblock %}
      </footer>
    {%- endblock %}
  {%- endblock %}
  {% block scripts -%}
    <script src="https://login.persona.org/include.js"></script>
    <script src="{{ static('/js/jquery.min.js') }}"></script>
    <script src="{{ static('/js/nunjucks.min.js') }}"></script>
    <script src="{{ static('/js/common.js') }}"></script>
    <script src="{{loginScriptUrl}}"></script>
  {%- endblock %}
</body>
</html>
