{% extends "application/layout.html" %}
{% block content %}
  <div class="container beige-container clearfix">
    <div class="badges-container clearfix">
      <section class="application-pending-info">
        <span class="pending-info-heading">Find an APPLICANT, then remix it!</span><span class="templates-info-text"> Templates are guides to help you create unique badges. A few designs are featured below. They are editable, all the way from the metadata information to the featured image. Browse the options below to start working within one of the existing styles. You can modify the template you choose to align it with your vision. Or you can make a template from scratch by clicking the "Add a new template" button below.</span>
      </section>

      <section class="approval-section">
        <section class="badges-for-approval clearfix">
          <img class="badgethumb left" src="http://www.lns.cornell.edu/Resources/DesignServices/rsrc/LEPP/Resources/DesignServices/CommonLogos/Cornell_Seal_Black.png">
          <h2 class="pending-badge-title">A Shield of Approval</h2>
          <p class="badge-approval-status left">Queue <a href="" class="number-of-badges">27</a></p>
          <p class="badge-approval-status left">Applied <a href="" class="number-of-badges">85</a></p>
          <p class="badge-approval-status left">Awarded <a href="" class="number-of-badges">10</a></p>
        </section>

        <section class="pending-list-table">
          <div class="pending-cell email-cell">email-1@email.com</div>
          <div class="pending-cell">February 14th, 2014</div>
          <div class="pending-cell">Saved</div>
          <div class="pending-cell"><a href="" class="btn pending-btn">Sensitive</a></div>
        </section>

        <section class="pending-list-table">
          <div class="pending-cell email-cell">email-2@email.com</div>
          <div class="pending-cell">February 14th, 2014</div>
          <div class="pending-cell">Saved</div>
          <div class="pending-cell"><a href="" class="btn pending-btn">Sensitive</a></div>
        </section>

        <section class="pending-list-table">
          <div class="pending-cell email-cell">email-3@email.com</div>
          <div class="pending-cell">February 14th, 2014</div>
          <div class="pending-cell">Saved</div>
          <div class="pending-cell"><a href="" class="btn pending-btn">Sensitive</a></div>
        </section>

        <section class="pending-list-table">
          <div class="pending-cell email-cell">email-4@email.com</div>
          <div class="pending-cell">February 14th, 2014</div>
          <div class="pending-cell">Saved</div>
          <div class="pending-cell"><a href="" class="btn pending-btn">Sensitive</a></div>
        </section>
      </section>

      <section class="approval-section">
        <section class="badges-for-approval clearfix">
          <img class="badgethumb left" src="http://www.lns.cornell.edu/Resources/DesignServices/rsrc/LEPP/Resources/DesignServices/CommonLogos/Cornell_Seal_Black.png">
          <h2 class="pending-badge-title">B Shield of Approval</h2>
          <p class="badge-approval-status left">Queue <a href="" class="number-of-badges">27</a></p>
          <p class="badge-approval-status left">Applied <a href="" class="number-of-badges">85</a></p>
          <p class="badge-approval-status left">Awarded <a href="" class="number-of-badges">10</a></p>
        </section>

        <section class="pending-list-table">
          <div class="pending-cell email-cell">email-1@email.com</div>
          <div class="pending-cell">February 14th, 2014</div>
          <div class="pending-cell">Saved</div>
          <div class="pending-cell pending-"><a href="" class="btn pending-btn">Sensitive</a></div>
        </section>

        <section class="pending-list-table">
          <div class="pending-cell email-cell">email-2@email.com</div>
          <div class="pending-cell">February 14th, 2014</div>
          <div class="pending-cell">Saved</div>
          <div class="pending-cell"><a href="" class="btn pending-btn">Sensitive</a></div>
        </section>

        <section class="pending-list-table">
          <div class="pending-cell email-cell">email-3@email.com</div>
          <div class="pending-cell">February 14th, 2014</div>
          <div class="pending-cell">Saved</div>
          <div class="pending-cell"><a href="" class="btn pending-btn">Sensitive</a></div>
        </section>

        <section class="pending-list-table">
          <div class="pending-cell email-cell">email-4@email.com</div>
          <div class="pending-cell">February 14th, 2014</div>
          <div class="pending-cell">Saved</div>
          <div class="pending-cell"><a href="" class="btn pending-btn">Sensitive</a></div>
        </section>
      </section>
    </div>


    <!-- SINGLE APPLICANT SECTION -->
    <section class="application-container white-container clearfix">
      <div class="badger-info left">
        <h1 class="badger-email">email-1@email.com</h1>
        <img class="badgethumb left" src="http://www.lns.cornell.edu/Resources/DesignServices/rsrc/LEPP/Resources/DesignServices/CommonLogos/Cornell_Seal_Black.png"><span class="badge-name">ABC Badge</span>
        <p class="application-status">Status: Application Pending</p>
        <p class="application-submission-date">Submitted: 12/1/2013</p>
      </div>

      <div class="application-review-status right">
        <p class="small-copy warning-text">Review will close after 20 minutes of idle time.</p>
        <a href="" class="btn cancel-btn right">Cancel & Exit</a>
        <section class="status-bar right cb">
          <p class="status-info">Applicant should meet all required items and <span>2</span> out of <span>3</span> optional criteria.</p>
        </section>
        <section class="status-visual right cb">
          <!-- if requirement met --><i class="fa fa-check-circle"></i>
          <!-- if requirement not met --><i class="fa fa-times-circle"></i>
          <!-- if requirement not completed --><i class="fa fa-circle-o"></i>
          <!-- if requirement not completed --><i class="fa fa-circle-o"></i>
        </section>
      </div>
    </section>
    <!-- SINGLE APPLICANT SECTION -->

  </div>
{% endblock %}
